<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Yourbrand.me | Admin</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./stylesheets/styleA.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" style="background: url('./assets/img/logo.png') no-repeat center center;width: 50px;height: 50px;margin-top: 7px;)"></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="logout" href="#">Вийти</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a class="logout-mob" href="#">Вийти</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Меню</i></a>
    </div>
</nav>

<div class="container">
    <div class="section">
        <!--Add class-->
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Редактирование класов
        </div>
        <br />
        <div class="row">
            <div class="col s12">
                <div class="input-field col s5">
                    <select id="selectNumClass" required>
                        <option value="" disabled selected>Выберите класс</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                    </select>
                    <label>Materialize Select</label>
                </div>
                <div class="input-field col ru s5">
                    <input id="name_class" name="name_class" type="text" class="validate" required>
                    <label for="name_class">Введите название класса</label>
                </div>
                <div class="input-field ua col s5" style="margin-left: 41.6666666667%;">
                    <input id="name_class_ua" name="name_class_ua" type="text" class="validate" required>
                    <label for="name_class_ua">Введіть назву класу</label>
                </div>

            </div>
            <div class="col right" style="margin-right: 16.6666666666%;">
                <button class="btn waves-effect waves-light save-cla col ss" type="submit" name="action">Сохранить
                    <i class="material-icons right">send</i>
                </button>
            </div>
            <div class="col rebase_button_div right" style="margin-right: 16.6666666666%;">
                <button class="btn waves-effect waves-light reset_base col ss" type="submit" name="action">reset
                </button>
            </div>
            <ul id="p_allLi" class="pagination mt-4">
                <%classModel.forEach(element=>{%>
                <li class="waves-effect"><a href="" data-id="<%=element._id%>"><%=element.NumberClass%></a></li>
                <%})%>
                <!--<li class="active teal"><a href="#">1</a></li>-->
            </ul>
            <p class="select_paggination_num"></p>
            <div id="class_name_text_parent" class="col d_n_class s12">
            <div id="class_name_text"  class="col ru s5">
<!--                <div class="chip">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <i class="close material-icons">close</i>
                </div>-->
            <template>
                <div class="chip">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <i class="close material-icons">close</i>
                </div>
            </template>
            </div>
            <div id="class_name_text_ua"  class="col ua s5">
                                <!--<div class="chip">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    <i class="close material-icons">close</i>
                                </div>-->
                <template>
                    <div class="chip_ua">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        <i class="close material-icons">close</i>
                    </div>
                </template>
            </div>
            </div>
        </div>
        <!--Header-->
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Редактирование шапки сайта
        </div>
        <br />
        <div class="row">
            <form class="col s12">
                <div class="row" id="change__header">
                    <input   type="hidden" value="<%=contactModel._id%>" class="validate" name="id">
                    <div class="input-field col s3">
                        <input placeholder="<%=contactModel.Phone%>" id="h-phone1" type="tel" value="<%=contactModel.Phone%>" class="validate" name="Phone">
                        <label for="h-phone1">Киев</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="+38 050 123 4567" id="h-phone2" type="tel" value="<%=contactModel.Vadafone%>" class="validate" name="Vadafone">
                        <label for="h-phone2">Vodafone</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="+38 096 123 4567" id="h-phone3" type="tel" value="<%=contactModel.Kievstar%>" class="validate" name="Kievstar">
                        <label for="h-phone3">Киевстар</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Введите ссылку" id="h-telegram" type="url" value="<%=contactModel.Telegram%>" class="validate" name="Telegram">
                        <label for="h-telegram">Telegram</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Введите ссылку" id="h-viber" type="url" value="<%=contactModel.Viber%>" class="validate" name="Viber">
                        <label for="h-viber">Viber</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Введите ссылку" id="h-messenger" type="url" value="<%=contactModel.Messenger%>" class="validate" name="Messenger">
                        <label for="h-messenger">Messenger</label>
                    </div>
                </div>
            </form>
        </div>
        <!--Footer-->
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Редактирование футера
        </div>
        <br />
        <div class="row">
            <form class="col s12">
                <div class="row" id="change__footer">
                    <input   type="hidden" value="<%=contactModel._id%>" class="validate" name="id">
                    <div class="input-field col s6">
                        <input placeholder="044 123 45 67" id="f-phone" type="tel" value="<%=contactModel.footerPhone%>" class="validate" name="footerPhone">
                        <label for="f-phone">Телефон</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="hi@tvoybarnd.com" id="f-mail" type="email" value="<%=contactModel.Email%>" class="validate" name="Email">
                        <label for="f-mail">E-mail</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="г. Черновцы, ул. Горького, дом 12" id="f-location" type="text" value="<%=contactModel.Address%>" class="validate" name="Address">
                        <label for="f-location">Адрес</label>
                    </div>
                </div>
            </form>
        </div>
        <!--Footer-->
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Часто задаваемые вопросы
        </div>
        <br />
        <div class="row">
            <form class="col s12">

                <div class="row" id="ch__footer">
                    <div id="class_name_text2" class="col select_lang select_lang_question s12">
                        <div data-lang="ru" class="chip lang_item active_lang ">Рус</div>
                        <div data-lang="ua" class="chip lang_item ">Укр</div>
                    </div>
                    <div class="input-field col s6">
                        <input id="quest-title" type="text" name="Question" value="" class="validate">
                        <label for="quest-title">Вопрос</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea id="textarea1" name="Answer" class="materialize-textarea"></textarea>
                        <label for="textarea1">Ответ</label>
                        <button id="save__question" class="btn waves-effect waves-light save-cla  ss right row" >Сохранить
                            <input id="id_edit" type="hidden" value="" name="id">
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                    <ul class="collection with-header" id="list__question">
                        <%questionsModel.forEach(question=>{%>
                        <li class="collection-item quest__li "><div><%=question.Question%><a href="" data-language="<%=question.language%>" data-answer="<%=question.Answer%>" data-id="<%=question._id%>" class="secondary-content id__e_element"><i class="material-icons editEl">create</i>&nbsp;<i class="material-icons editDel">clear</i></a></div></li>
                       <%})%>
                    </ul>
                </div>
            </form>
        </div>
        <!--Search filter-->
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            Текст во время поиска
        </div>
        <br />
        <div class="row">
            <form class="col s12">
                <div class="row" id="ch__search">
                    <div id="class_name_text3" class="col select_lang select_lang_text s12">
                        <div data-lang="ru" class="chip lang_item active_lang ">Рус</div>
                        <div data-lang="ua" class="chip lang_item ">Укр</div>
                    </div>
                    <div class="input-field col s12">
                        <input id="quest-s" type="text" class="validate">
                        <label for="quest-s">Введите текст</label>
                        <button id="save__search" class="btn waves-effect waves-light save-cla  ss right row" >Сохранить
                            <input id="id_editSearch" type="hidden" value="" name="id">
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <ul class="collection with-header text__search_ul">
                        <%searchModel.forEach(search=>{%>
                        <li class="collection-item text_item_search"><div><%=search.SearchText%><a href="#" data-language="<%=search.language%>" data-id="<%=search._id%>" class="secondary-content search__id"><i class="material-icons search_edit">create</i>&nbsp;<i class="material-icons search_delete">clear</i></a></div></li>
                        <%})%>
                    </ul>
                </div>
            </form>
        </div>

    </div>
    <!-- About me -->
    <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        Обо мне
    </div>
    <br />
    <div class="row">
        <form class="col s12">

            <div class="row" id="block__about_me">
                <div id="class_name_text3" class="col select_lang select_lang_about s12">
                    <div data-lang="ru" class="chip lang_item active_lang ">Рус</div>
                    <div data-lang="ua" class="chip lang_item ">Укр</div>
                </div>
                <input   type="hidden" id="hid_ab_id" value="<%=aboutModel._id%>" class="validate" name="id">
                <div class="input-field col s4">
                    <input id="about-title" type="text" name="Title" data-language=""  value="<%=aboutModel.Title%>" class="validate">
                    <label for="about-title">Заголовок</label>
                </div>
                <div class="input-field col s10">
                    <textarea id="textarea2About" name="textAbout" data-language="" class="materialize-textarea"><%=aboutModel.Text%></textarea>
                    <label for="textarea2About">Текст</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-instagraabout" type="url" value="<%=aboutModel.PersonalInstagram%>" class="validate" name="PersonalInstagram">
                    <label for="f-instagraabout">Instagram</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-facebookabout" type="url" value="<%=aboutModel.PersonalFacebook%>" class="validate" name="PersonalFacebook">
                    <label for="f-facebookabout">Facebook</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-telegramabout" type="url" value="<%=aboutModel.PersonalTelegram%>" class="validate" name="PersonalTelegram">
                    <label for="f-telegramabout">Telegram</label>
                </div>
            </div>
        </form>
    </div>
    <!-- Our brand -->
    <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        Наши роботы
    </div>
    <br />
    <div class="row">
        <form class="col s12" enctype="multipart/form-data">
            <div class="row" id="block__our_brand">
                <div id="img_div" class="input-field col s4">
                    <input id="our-img" style="display: none" type="file" name="img" value="" class="validate">
                    <label class="choose_img" id="label_img" for="our-img">Выбирите изображение<!--<img id="imgBrand" class="show"  src="" alt="">--></label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-urlBrand" type="url" value="" class="validate" name="urlBrand">
                    <label for="f-urlBrand">Сылка на бренд</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-nameBrand" type="text" value="" class="validate" name="NameBrand">
                    <label for="f-nameBrand">Название Бренда</label>
                    <button id="save__ourbrand" class="btn waves-effect waves-light save-cla  ss right row" >Сохранить
                        <input id="id_editOurBrand" type="hidden" value="" name="id">
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <ul id="brand__list" class="collection with-header ul_brand">
                    <%if(brandModel){%>
                    <%brandModel.forEach(brand=>{%>
                    <li class="collection-item"><div><%=brand.NameBrand%><a href="#" data-id="<%=brand._id%>" data-img="<%=brand.img%>" data-url="<%=brand.urlBrand%>" class="secondary-content brand_link"><i class="material-icons brand_edit">create</i>&nbsp;<i class="material-icons brand_delete">clear</i></a></div></li>
                    <%})%>
                    <%}%>
                </ul>
            </div>
        </form>
    </div>



    <!-- News -->
    <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
       Новости
    </div>
    <br />
    <div class="row">
        <form class="col s12" >
            <div class="row" id="block_news">
                <div class="input-field col s2">
                    <input placeholder="hi@tvoybarnd.com" id="f-yearNews" type="date" value="" class="validate" name="newsDate">
                    <label for="f-yearNews">Дата новости</label>
                </div>
                <div class="input-field col s4">
                    <input placeholder="hi@tvoybarnd.com" id="f-titleNews" type="text" value="" class="validate" name="newsTitle">
                    <label for="f-titleNews">Заголовок</label>
                </div>
                <div class="input-field col s6">
                    <textarea id="textarea3News" name="newsText" class="materialize-textarea"></textarea>
                    <label for="textarea3News">Текст Новости</label>
                    <button id="save__news" class="btn waves-effect waves-light save-cla  ss right row" >Сохранить
                        <input id="id_editnews" type="hidden" class="validate" value="" name="id">
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <ul id="news__list" class="collection with-header ul_news">
                    <%newsModel.forEach(news=>{%>
                    <li class="collection-item"><div><%=news.newsTitle%><a href="#" data-id="<%=news._id%>" data-year="<%=news.newsDate%>" data-text="<%=news.newsText%>" class="secondary-content news_link"><i class="material-icons news_edit">create</i>&nbsp;<i class="material-icons news_delete">clear</i></a></div></li>
                    <%})%>
                </ul>
            </div>
        </form>
    </div>
</div>

</div>

<footer class="page-footer teal">
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="https://riseserv.com">riseserv</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./javascripts/materialize.js"></script>
<script src="./javascripts/init.js"></script>
<script src="./javascripts/back.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('select');

        let instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</body>
</html>
