<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Yourbrand.me | Admin</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="./stylesheets/styleA.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="container">
    <h1 style="margin: 0 auto; margin-top: 50px; width: 100%; text-align: center">Admin panel</h1>
    <div class="row">
    <form class="col s8" style="float: none; margin: 0 auto; display: block; "   method="post" action="/login/">
        <div class="" id="ad_log">
            <div class="input-field col s12">
                <input id="email-input" type="email" name="email" value="" class="validate">
                <label for="email-input">Email</label>
            </div>
            <div class="input-field col s12">
                <input id="input_pas" type="password" name="password" class="validate">
                <label for="input_pas">Password</label>
            </div>
            <button id="send_bk" type="submit" class="btn waves-effect waves-light save-cla  ss right row" >Сохранить
                <input id="id_edit" type="hidden" value="" name="id">
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./javascripts/materialize.js"></script>
<script src="./javascripts/init.js"></script>
<script src="./javascripts/back.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('select');

        let instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</body>
</html>
