<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Твой Бренд</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/tagify.css">
    <link rel="stylesheet" href="./assets/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <style>
      .select2{
        -webkit-border-radius: 0px 24px 24px 0px;
        -moz-border-radius: 0px 24px 24px 0px;
        border-radius: 0px 24px 24px 0px;
        border: 2px solid #EFEFEF;
        border-left-color: rgb(239, 239, 239);
        border-left-style: solid;
        border-left-width: 2px;
        border-left: none;
        width: 100% !important;
        height: 82px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input#tokenfield, input#tokenfield2 {
        display: none;
      }
      .select2-container .select2-selection--single {
        height: 100%;
        border: none;
      }
    </style>

</head>
<body>

<div class="close_btn_m_t"><img src="./assets/img/x.svg" alt=""></div>
<div class="wrapper">
    <input type="hidden"  id="nameBr">
    <input type="hidden"  id="kBr">
    <input type="hidden"  id="nameC">
    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <div class="header__left">
                    <div class="header__logo">
                        <a href="#">
                            <div class="header__logo-img">
                                <img src="./assets/img/logo.png" height="45" width="45"/>
                            </div>
                            <div class="header__logo-text">
                                <p>
                                    <%=translation.your_bu%> <br>
                                    <%=translation.brand%>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="header__text">
                        <p>
                            <%=translation.reg_tr%> <br>
                            <%=translation.mark_ua%>
                        </p>
                    </div>
                </div>
                <div class="header__right">
                    <div class="header__social social-wrap">
                        <div class="container_f_lang">
                            <ul class="list_f_lang"><!--?clang=-->
                                <li class="el_lang"><a class="<%=(lanng =="ru"?"active":"")%>" href="/ru" >рус</a> <span>/</span></li>
                                <li class="el_lang"><a class="<%=(lanng =="ua"?"active":"")%>" href="/ua" >укр</a></li>
                            </ul>
                        </div>
                        <a href="<%=contactModel.Telegram%>" target="_blank">
                            <svg height="27.924"  viewBox="0 0 32.072 27.924" width="32.072" xmlns="http://www.w3.org/2000/svg"><path  class="ng-tns-c1-0" d="M.567,32.79l7.39,2.758,2.86,9.2a.87.87,0,0,0,1.382.416l4.119-3.358a1.229,1.229,0,0,1,1.5-.042l7.43,5.394a.871.871,0,0,0,1.365-.527L32.053,20.45a.871.871,0,0,0-1.166-.99L.558,31.16A.872.872,0,0,0,.567,32.79Zm9.789,1.29,14.443-8.9a.252.252,0,0,1,.3.4l-11.92,11.08a2.471,2.471,0,0,0-.766,1.478l-.406,3.009a.373.373,0,0,1-.729.053L9.721,35.716A1.454,1.454,0,0,1,10.356,34.08Z"  transform="translate(0 -19.401)"></path></svg>
                        </a>
                        <a href="<%=contactModel.Viber%>" target="_blank">
                            <svg  height="32.663"  viewBox="0 0 29.678 32.663" width="29.678" xmlns="http://www.w3.org/2000/svg"><path  class="ng-tns-c1-0" d="M127,99.7a43.548,43.548,0,0,0-16.343,0,9.429,9.429,0,0,0-5.939,5.688,31.26,31.26,0,0,0,0,13.412,9.429,9.429,0,0,0,5.939,5.688h0a.225.225,0,0,1,.183.22v6.519a.362.362,0,0,0,.624.25l3.1-3.178,2.911-2.989a.222.222,0,0,1,.165-.067,43.59,43.59,0,0,0,9.361-.756,9.426,9.426,0,0,0,5.939-5.688,31.223,31.223,0,0,0,0-13.412A9.423,9.423,0,0,0,127,99.7Zm.083,19.431a5.027,5.027,0,0,1-2.16,2.38,5.192,5.192,0,0,1-.934.3c-.365-.111-.712-.185-1.035-.319a23.509,23.509,0,0,1-8.86-5.921,22.988,22.988,0,0,1-3.389-5.186c-.435-.884-.8-1.8-1.175-2.715a2.355,2.355,0,0,1,.69-2.319,5.447,5.447,0,0,1,1.825-1.371,1.172,1.172,0,0,1,1.465.347,18.9,18.9,0,0,1,2.267,3.173,1.51,1.51,0,0,1-.423,2.045c-.172.117-.328.253-.488.385a1.6,1.6,0,0,0-.368.388,1.063,1.063,0,0,0-.071.934,8.449,8.449,0,0,0,4.745,5.254,2.415,2.415,0,0,0,1.216.3c.743-.087.984-.9,1.5-1.328a1.418,1.418,0,0,1,1.708-.075c.549.347,1.08.72,1.609,1.1a18.424,18.424,0,0,1,1.514,1.153A1.2,1.2,0,0,1,127.084,119.128Zm-4.318-7.795c-.208,0-.126,0-.047,0a.535.535,0,0,1-.552-.529,5.507,5.507,0,0,0-.1-.7,1.967,1.967,0,0,0-.725-1.138,1.89,1.89,0,0,0-.591-.285c-.268-.077-.547-.056-.815-.122a.5.5,0,0,1-.406-.58.526.526,0,0,1,.555-.423,3.008,3.008,0,0,1,3.081,3,1.387,1.387,0,0,1,0,.424.435.435,0,0,1-.366.354C122.8,111.33,122.8,111.331,122.766,111.334Zm-1.055-4.566a5.967,5.967,0,0,0-1.654-.508c-.249-.041-.5-.066-.752-.1a.476.476,0,0,1-.451-.535.47.47,0,0,1,.524-.465,6.876,6.876,0,0,1,2.866.747,5.8,5.8,0,0,1,3.154,4.5c.014.092.036.183.043.275.017.227.028.455.045.755a2.017,2.017,0,0,1-.043.3.5.5,0,0,1-.935.051,1.322,1.322,0,0,1-.052-.423,5.3,5.3,0,0,0-.67-2.658A4.948,4.948,0,0,0,121.711,106.767Zm5.608,6.26c-.351,0-.508-.289-.531-.6-.045-.622-.076-1.248-.162-1.865a7.816,7.816,0,0,0-6.294-6.533c-.488-.087-.988-.11-1.482-.162-.313-.033-.722-.052-.791-.44a.534.534,0,0,1,.527-.6c.084,0,.169,0,.254,0,4.2.118.256.009.011,0a8.886,8.886,0,0,1,8.725,7.349c.131.737.178,1.49.236,2.238A.525.525,0,0,1,127.319,113.028Z"  transform="translate(-103.991 -98.923)"></path></svg>
                        </a>
                        <a href="<%=contactModel.Messenger%>" target="_blank">
                            <svg  height="31.791" viewBox="0 0 32.488 31.791" width="32.488" xmlns="http://www.w3.org/2000/svg"><path class="ng-tns-c1-0" d="M27.7,4.218a16.986,16.986,0,0,0-11.452-4.3,16.986,16.986,0,0,0-11.452,4.3A14.064,14.064,0,0,0,0,14.711a13.783,13.783,0,0,0,2.773,8.271l-1.4,8.727,8.829-3.261A17.542,17.542,0,0,0,16.244,29.5,16.986,16.986,0,0,0,27.7,25.2a14.064,14.064,0,0,0,4.792-10.493A14.064,14.064,0,0,0,27.7,4.218ZM17.668,18.96,14.077,16.15l-8.589,3.4,9.828-9.775,3.634,2.9,7.862-3.048Zm0,0"  transform="translate(0 0.082)"></path></svg>
                        </a>
                        <span href="#" class="contain">
                            <svg   height="32.032" viewBox="0 0 32.031 32.032" width="32.031" xmlns="http://www.w3.org/2000/svg"><g class="ng-tns-c1-0" data-name="Group 30" id="Group_30" transform="translate(0 0)"><g><path  d="M31.409,25.47,27.858,23.1,24.7,21a1.4,1.4,0,0,0-1.878.3L20.87,23.815a1.391,1.391,0,0,1-1.776.368,22.743,22.743,0,0,1-6.351-4.894,22.906,22.906,0,0,1-4.894-6.351,1.391,1.391,0,0,1,.368-1.776l2.511-1.953a1.4,1.4,0,0,0,.3-1.878L8.994,4.271,6.562.623A1.4,1.4,0,0,0,4.679.2l-2.8,1.683A3.427,3.427,0,0,0,.318,3.9c-.767,2.8-.922,8.966,8.965,18.853s16.056,9.732,18.853,8.965a3.426,3.426,0,0,0,2.014-1.556l1.683-2.8A1.4,1.4,0,0,0,31.409,25.47Z" transform="translate(0 0)"></path></g></g></svg>
                            <div class="header__social-hidden">
                                <ul>
                                    <li>
                                        <span>
                                             <%=translation.free_kiev%>
                                        </span>
                                        <a href="tel:044123456">
                                          <%=contactModel.Phone%>
                                        </a>
                                    </li>
                                    <li>
                                        <span>
                                           Vodafone
                                        </span>
                                        <a href="tel:+380501234567">
                                            <%=contactModel.Vadafone%>
                                        </a>
                                    </li>
                                    <li>
                                        <span>
                                              <%=translation.mob_oper_k%>
                                        </span>
                                        <a href="tel:+380961234567">
                                             <%=contactModel.Kievstar%>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
<!--                        <div class="header__social-text">-->
<!--                            <p>-->
<!--                                ты можешь прямо сейчас задать <br>-->
<!--                                вопросы нашему менеджеру-->
<!--                            </p>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="registration reveal">
            <h1 class="mobile_header_registation reveal"><%=translation.reg_mark_ua%></h1>
            <div class="tabs_trigers">
                <a href="#tab_1" id="tabs_tr1" class="tab_triger__item tab_triger__item-active"><%=translation.tab_1%></a>
                <a href="#tab_2" id="tabs_tr2" class="tab_triger__item"><%=translation.tab_2%></a>
                <a href="#tab_3" id="tabs_tr3" class="tab_triger__item"><%=translation.tab_3%></a>
            </div>
            <div class="container container_width_huge tabs_content">
                <div id="tab_1" class="tab_content tab_1 tab_content-active  registration__wrap">
                    <form action="" method="post" class="disabled-enter">
                        <div class="registration__quiz">
                            <div id="registration__card_first" class="registration__card s1 active">
                                <div class="registration__card___contentt">
                                    <h2>
                                        <%=translation.check_name%> <br> <%=translation.check_name2%>
                                    </h2>
                                    <div class="registration__step-count">
                                        <%=translation.step%> 1 <%=translation.i%> 3
                                    </div>
                                    <div class="registration__text">
                                        <p>
                                            <%=translation.enter_name%>
                                        </p>
                                    </div>
                                    <div class="registration__fields">
                                        <div class="registration__fields-item">
                                            <form action="/users">
                                                <div class="type-input">
                                                    <input type="text" name="name_brand" id="id_brand" class="" placeholder="<%=translation.name_your_brand%>">
                                                    <div class="type-input__text">
                                                        <%=translation.exem%>:  <%=translation.staba%>
                                                    </div>
                                                </div>
                                                <div class="type-input" id="parent_select_box">
                                                    <div class="input_select_list">
                                                        <select class="form-control" id="tokenfield" name="type_brand">

                                                        </select>
                                                        <input class="filter_select" id="mobile_brandd" placeholder="<%=translation.do%>" type="text">
                                                    </div>
                                                    <div id="list_item" class="item_list">

                                                        <ul id="ul_select_list">
                                                            <%classModel.forEach(Cmodel =>{ %>
                                                            <%Cmodel.NameClass.forEach(nClass=>{%>
                                                            <%if(nClass.language === lanng){%>
                                                            <li data-cod="<%=Cmodel.NumberClass%>" class="list_item_li"><%=nClass.text%></li>
                                                            <%}%>
                                                            <%})%>
                                                            <%})%>
                                                            <!--                                                    <li data-cod="555" class="list_item_li">Фотостудия</li>-->
                                                            <!--                                                    <li data-cod="444" class="list_item_li">Кофе</li>-->
                                                            <!--                                                    <li data-cod="765" class="list_item_li">Кофейня</li>-->
                                                            <!--                                                    <li data-cod="123" class="list_item_li">Кофемашины</li>-->
                                                            <!--                                                    <li data-cod="333" class="list_item_li">Кофеин</li>-->
                                                        </ul>
                                                    </div>
                                                    <div class="type-input__text">
                                                        <%=translation.exem%>: <%=translation.exmp_2%>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="responsive-input-text" style="display: none">
                                            <div class="type-input__text">
                                                <%=translation.exem%>:  <%=translation.staba%>
                                            </div>
                                            <div class="type-input__text">
                                                <%=translation.exmp_2%>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next">
                                            <button id="first_check" ><%=translation.check_tab1%></button>
                                        </div>
                                    </div>
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                        <div class="registration__side_bar-text_content">
                                            <p><%=translation.mkty_a%> <br> <%=translation.mkty_a1%> - <br> <%=translation.mkty_a2%>,
                                                <br> <%=translation.mkty_a3%> <br> <%=translation.mkty_a4%>
                                            </p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                                <div class="registration__side_bar-position"><%=translation.work%></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="registration__card registration__card_type_loading ">
                               <div class="loading-text">
                                   <p>
                                       <%searchModel.forEach(text=>{%>
                                       <span><%=text.SearchText%></span>
                                       <%})%>
<!--                                       <span>Открываем картотеку</span>-->
<!--                                       <span>Открываем картотеку</span>-->
<!--                                       <span>Еще что-то открываем</span>-->
<!--                                       <span>Открываем картотеку</span>-->
<!--                                       <span>Совпадений не найдено!)</span>-->
                                   </p>
                               </div>
                                <div class="loading-dots">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="registration__card registration__card_type_true  ">
                                <div class="registration__card___contentt">
                                    <div class="alert">
                                        <p>
                                            <%=translation.name%> “<span class="n true_name_brand">Старбакс</span>” <span class="alert__brand true"> <span class="mark"> <%=translation.free%></span></span>   <%=translation.for%> <br>
                                            <%=translation.regTM%>  “<span class="n2 true_active_brand">кофейня</span>”
                                        </p>
                                    </div>
                                    <div class="registration__step-count">
                                        <%=translation.step%> 2 <%=translation.i%> 3
                                    </div>
                                    <div class="registration__text">
                                        <p>
                                            <%=translation.sendforReg%>
                                        </p>
                                    </div>
                                    <div class="registration__fields">
                                        <div class="registration__fields-item">
                                            <div class="type-input">
                                                <input type="text" class="registration__true_brand" placeholder="<%=translation.uname%>" id="s_name" name="successfully_name">
                                                <input type="hidden" class="registration__true_brand">
                                               <!-- <div class="type-input__text">
                                                    <p>
                                                        Введите ваше имя, чтобы мы знали <br>
                                                        как к вам обращаться
                                                    </p>
                                                </div>-->
                                            </div>
                                            <div class="type-input">
                                                <input type="tel" placeholder="<%=translation.unumberphone%>" id="tel_s" name="successfully_tel">
                                                <!--<div class="type-input__text">
                                                    <p>
                                                        Введите ваш номер телефона в формате +380 50 123 45 67 чтобы, <br>
                                                        наш менеджер смог с вами связаться и продолжить регистрацию
                                                    </p>
                                                </div>-->
                                            </div>
                                        </div>
                                        <div class="registration__fields-item but_t_l but">
                                            <div class="type-submit type-submit_type_next back_butn">
                                                <button type="button" onclick="stepBack()"><%=translation.backandcheck%></button>
                                            </div>
                                            <div class="type-submit type-submit_type_next next_butn">
                                                <button class="send_m_request" type="button">
                                                    <span class="text_btn_send "><%=translation.sendreq%></span>
                                                    <span class="cric "></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                        <div class="registration__side_bar-text_content">
                                            <p><%=translation.mkty_a%> <%=translation.mkty_a1%> - <%=translation.mkty_a2%>,  <%=translation.mkty_a3%>  <%=translation.mkty_a4%>.</p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                                <div class="registration__side_bar-position"><%=translation.work%></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="registration__card registration__card_type_limit">
                                <div class="alert alert_gray">
                                    <p class="text-center">
                                        Вы превысили дневной лимит запросов.
                                    </p>
                                </div>
                                <!--<div class="registration__step-count">
                                    шаг 2 из 3
                                </div>-->
                                <div class="registration__text">
                                    <p>
                                        Заполните форму ниже, и наш менеджер проверит свободно ли имя <br>
                                        торговой марки в ручном режиме или попробуйте снова завтра.  </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item">
                                        <div class="type-input">
                                            <input type="text" placeholder="<%=translation.uname%>">
                                        </div>
                                        <div class="type-input">
                                            <input type="tel" placeholder="<%=translation.unumberphone%>/месенджера">
                                        </div>
                                    </div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next">
                                            <button type="submit">ПОДАТЬ ЗАЯВКУ</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="registration__card registration__card_type_false ">
                                <div class="registration__card___contentt">
                                <div class="alert alert_bg_yellow">
                                    <p>
                                        <%=translation.name%> “<span class="n false_brand_name">Старбакс</span>” <span class="alert__brand false"> <span class="mark"> <%=translation.busy%></span></span>   <%=translation.for%> <br>
                                        <%=translation.regTM%>  “<span class="n2 false_active_brand">кофейня</span>”
                                    </p>
                                </div>
                               <!-- <div class="alert__check-another">
                                    <a href="#" id="check_other_brand">
                                        проверить другое название
                                    </a>
                                </div>-->
                                <div class="registration__step-count">
                                    <%=translation.step%> 2 <%=translation.i%> 3
                                </div>
                                 <div class="registration__text">
                                    <p>
                                        <%=translation.sendforReg%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item">
                                        <div class="type-input">
                                            <input type="text" class="registration__fields_name" id="s_name_false" name="registration__fields_name" placeholder="<%=translation.uname%>">
                                            <input type="hidden" class="registration__fields_brand" hidden>
                                        </div>
                                        <div class="type-input">
                                            <input type="tel" class="registration__fields_tel" id="s_tel_true" name="registration__fields_tel" placeholder="<%=translation.unumberphone%>">
                                        </div>
                                    </div>
                                    <div class="registration__fields-item but_t_l but">
                                        <div class="type-submit type-submit_type_next back_butn">
                                            <button type="button" onclick="stepBack()"><%=translation.backandcheck%></button>
                                        </div>
                                        <div class="type-submit type-submit_type_next next_butn">
                                            <button type="button" class="send_m_request" >
                                                <span class="text_btn_send "><%=translation.sendreq%></span>
                                                <span class="cric"></span></button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                        <div class="registration__side_bar-text_content">
                                            <p><%=translation.mkty_a%> <%=translation.mkty_a1%> - <%=translation.mkty_a2%>,  <%=translation.mkty_a3%>  <%=translation.mkty_a4%>.</p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                                <div class="registration__side_bar-position"><%=translation.work%></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="registration__card thanks ">
                                <div class="registration__card___contentt">
                                <div class="thanks__left">
                                    <div>
                                        <img src="./assets/img/thanks.svg" alt="">
                                    </div>
                                    <div class="thanks__title">
                                        <p>
                                            <%=translation.thkansureq%>
                                        </p>
                                    </div>
                                    <p>
                                        <%=translation.ourMan%>
                                    </p>
                                    <!--<div class="thanks__bottom">
                                        <p>
                                            Спасибо за доверие!
                                        </p>
                                        <p>
                                            Пишите мне с предложениями или  <br>
                                            вопросами, буду рад помочь.
                                        </p>

                                        <p>
                                            Виталий, основатель сервиса
                                        </p>
                                        <div class="thanks__social social-wrap">
                                            <a href="#">
                                                <svg height="32.758"  viewBox="0 0 32.758 32.758" width="32.758" xmlns="http://www.w3.org/2000/svg"><path d="M23.718,0H9.04A9.05,9.05,0,0,0,0,9.04V23.718a9.05,9.05,0,0,0,9.04,9.04H23.718a9.05,9.05,0,0,0,9.04-9.04V9.04A9.05,9.05,0,0,0,23.718,0Zm6.134,23.718a6.141,6.141,0,0,1-6.134,6.134H9.04a6.14,6.14,0,0,1-6.133-6.134V9.04A6.14,6.14,0,0,1,9.04,2.906H23.718A6.141,6.141,0,0,1,29.851,9.04V23.718Z"></path><path d="M49.409,40.97a8.441,8.441,0,1,0,8.441,8.441A8.45,8.45,0,0,0,49.409,40.97Zm0,13.975a5.534,5.534,0,1,1,5.534-5.534A5.541,5.541,0,0,1,49.409,54.945Z"  transform="translate(-33.03 -33.032)"></path><path  d="M121.052,28.251a2.13,2.13,0,1,0,1.507.624A2.14,2.14,0,0,0,121.052,28.251Z" transform="translate(-95.879 -22.777)"></path></svg>
                                            </a>
                                            <a href="#">
                                                <svg height="32.758" viewBox="0 0 17.711 32.758" width="32.711" xmlns="http://www.w3.org/2000/svg"><path  d="M39.121.007,34.873,0C30.1,0,27.016,3.164,27.016,8.062v3.717H22.745a.668.668,0,0,0-.668.668v5.386a.668.668,0,0,0,.668.668h4.271V32.09a.668.668,0,0,0,.668.668h5.573a.668.668,0,0,0,.668-.668V18.5h4.994a.668.668,0,0,0,.668-.668l0-5.386a.668.668,0,0,0-.668-.668h-5V8.628c0-1.514.361-2.283,2.334-2.283H39.12a.668.668,0,0,0,.668-.668v-5A.668.668,0,0,0,39.121.007Z"  transform="translate(-22.077)"></path></svg>
                                            </a>
                                            <a href="#">
                                                <svg height="27.924" viewBox="0 0 32.072 27.924" width="32.072" xmlns="http://www.w3.org/2000/svg"><path class="ng-tns-c1-0" d="M.567,32.79l7.39,2.758,2.86,9.2a.87.87,0,0,0,1.382.416l4.119-3.358a1.229,1.229,0,0,1,1.5-.042l7.43,5.394a.871.871,0,0,0,1.365-.527L32.053,20.45a.871.871,0,0,0-1.166-.99L.558,31.16A.872.872,0,0,0,.567,32.79Zm9.789,1.29,14.443-8.9a.252.252,0,0,1,.3.4l-11.92,11.08a2.471,2.471,0,0,0-.766,1.478l-.406,3.009a.373.373,0,0,1-.729.053L9.721,35.716A1.454,1.454,0,0,1,10.356,34.08Z" transform="translate(0 -19.401)"></path></svg>                                            </a>
                                        </div>
                                    </div>-->
                                </div>
                                <!--<div class="thanks__right">
                                    <div class="thanks__man">
                                        <img src="./assets/img/man.png" alt="">
                                    </div>
                                </div>-->
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                        <div class="registration__side_bar-text_content">
                                            <p><%=translation.mkty_a%> <%=translation.mkty_a1%> - <%=translation.mkty_a2%>,  <%=translation.mkty_a3%>  <%=translation.mkty_a4%>.</p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                                <div class="registration__side_bar-position"><%=translation.work%></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </form>

                </div>
                <div id="tab_2" class="tab_content tab_2 calculate_cost__wrap">
                    <div class="registration__quiz">
                        <div class="registration__card step_calc-first active">
                            <div class="registration__card___contentt">
                                <h2>
                                    <%=translation.costs%> <br> <%=translation.regTMmark%>
                                </h2>
                                <div class="registration__step-count">
                                    <%=translation.step%> 1 <%=translation.i%> 5
                                </div>
                                <div class="registration__text">
                                    <p>
                                        <%=translation.count%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item calc_custom_button">
                                        <span class="minus_btn h_e">-</span>
                                        <div class="type-input">
                                            <input type="number" id="count_mar" value="1" class="button_count" placeholder="<%=translation.name_your_brand%> ">
                                            <!--                                            <input type="hidden" class="registration__true_brand">-->

                                        </div>
                                        <span class="plus_btn h_e">+</span>
                                        <div class="type-input__text custom_pos">
                                            <ul>
                                                <li style="list-style-type: disc"><%=translation.somcan%></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="responsive-input-text" style="display: none">

                                    </div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next">
                                            <button id="next_step_calc_f" ><%=translation.contin%></button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <aside class="registration__side_bar">
                                <div class="container">
                                    <ul>
                                        <li style="list-style-type: disc;">
                                            <%=translation.pay1%>
                                        </li>
                                    </ul>
                                    <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                    <div class="registration__side_bar-text_content">
                                        <p><%=translation.mkty_a%> <%=translation.mkty_a1%> - <%=translation.mkty_a2%>,  <%=translation.mkty_a3%>  <%=translation.mkty_a4%>.</p>
                                    </div>
                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="registration__card step_calc-second">
                            <div class="registration__card___contentt">
                                <h2>
                                    <%=translation.costs%> <br> <%=translation.regTMmark%>
                                </h2>
                                <div class="registration__step-count ">
                                    <%=translation.step%> 2 <%=translation.i%> 5
                                </div>
                                <div class="registration__text second_text">
                                    <p>
                                        <%=translation.chooseTM%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item step2_radio_button custom_radio">
                                        <input type="radio" id="contactChoice1"
                                               name="contact" value="verbal">
                                        <label for="contactChoice1"><%=translation.text%></label>

                                        <input type="radio" id="contactChoice2"
                                               name="contact" value="graphic">
                                        <label for="contactChoice2"><%=translation.grap%></label>

                                        <input type="radio" id="contactChoice3"
                                               name="contact" value="combined">
                                        <label for="contactChoice3"><%=translation.comb%></label>
                                    </div>
                                    <div class="responsive-input-text" style="display: none"></div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next back_btn_second">
                                            <button onclick="back('step_calc-second')"><%=translation.back%></button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <aside class="registration__side_bar">
                                <div class="container s2ca">
                                    <h5 class="exemple_aside"><%=translation.exemp%></h5>
                                    <div class="ass_o asside_logo_pos_f">
                                        <div>
                                            <h3 class="aside_style_logo"><%=translation.text%></h3>
                                            <span class="style_logo_exempl">
                                                <%=translation.onlyname%> <br> <%=translation.onlyname2%>
                                            </span>
                                        </div>
                                        <div>
                                            <img src="./assets/img/exemp/verbal.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="ass_t asside_logo_pos_f">

                                        <div>
                                            <h3 class="aside_style_logo"><%=translation.grap%></h3>
                                            <span class="style_logo_exempl">
                                                <%=translation.onlyemb%>
                                            </span>
                                        </div>
                                        <div><img src="./assets/img/exemp/graphic.svg" alt=""></div>
                                    </div>
                                    <div  class="ass_t asside_logo_pos_f">

                                        <div>
                                            <h3 class="aside_style_logo"><%=translation.comb%></h3>
                                            <span class="style_logo_exempl">
                                                <%=translation.hasname%> <br><%=translation.symbol%>
                                            </span>
                                        </div>
                                        <div><img src="./assets/img/exemp/combined.svg" style="opacity: 0.4" alt=""></div>
                                    </div>


                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div  class="registration__card step_calc-third ">
                            <div class="registration__card___contentt">
                                <h2>
                                    <%=translation.costs%> <br> <%=translation.regTMmark%>
                                </h2>
                                <div class="registration__step-count ">
                                    <%=translation.step%> 3 <%=translation.i%> 5
                                </div>
                                <div class="registration__text second_text">
                                    <p>
                                        <%=translation.regcolor%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item step3_radio_but custom_radio">
                                        <input type="radio" id="colorChoice11"
                                               name="colorC" value="0">
                                        <label for="colorChoice11">
                                            <span><%=translation.withoutregcolor%></span>
                                            <span class="r_price">0 грн</span></label>

                                        <input type="radio" id="colorChoice2"
                                               name="colorC" value="800">
                                        <label for="colorChoice2">
                                            <span><%=translation.colorfull%></span>
                                            <span class="r_price">+ 800 грн</span>
                                        </label>

                                    </div>
                                    <div class="responsive-input-text" style="display: none"></div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next back_btn_second">
                                            <button onclick="back('step_calc-third')"><%=translation.back%></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <aside class="registration__side_bar">
                                <div class="container">
                                    <ul>
                                        <li style="list-style-type: disc"><%=translation.counpay%></li>
                                    </ul>

                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside></div>
                        <div class="registration__card step_calc-fourth ">
                            <div class="registration__card___contentt">
                                <h2>
                                    <%=translation.costs%> <br> <%=translation.regTMmark%>
                                </h2>
                                <div class="registration__step-count ">
                                    <%=translation.step%> 4 <%=translation.i%> 5
                                </div>
                                <div class="registration__text second_text">
                                    <p>
                                        <%=translation.date%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item step4_radio_but custom_radio">
                                        <input type="radio" id="countRChoice1"
                                               name="countR" value="short">
                                        <label for="countRChoice1">
                                            <span>7 - 9 <%=translation.mounth1%></span>
                                            <span class="r_price">+ 10 220 грн</span>
                                        </label>
                                        <input type="radio" id="countRChoice2"
                                               name="countR" value="long">
                                        <label for="countRChoice2">
                                            <span>18 - 20 <%=translation.mounth1%></span>
                                            <span class="r_price">+ 4000 грн</span>
                                        </label>
                                    </div>
                                    <div class="responsive-input-text" style="display: none"></div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next back_btn_second">
                                            <button onclick="back('step_calc-fourth')"><%=translation.back%></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <aside class="registration__side_bar">
                                <div class="container">
                                    <ul>
                                        <li style="list-style-type: disc"><%=translation.countpay%></li>
                                        <li style="list-style-type: disc; margin-top: 16px"><%=translation.luah%></li>
                                    </ul>

                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside></div>
                        <div class="registration__card step_calc-fifth ">
                            <div class="registration__card___contentt">
                                <h2>
                                    <%=translation.costs%> <br> <%=translation.regTMmark%>
                                </h2>
                                <div class="registration__step-count ">
                                    <%=translation.step%> 5 <%=translation.i%> 5
                                </div>
                                <div class="registration__text second_text">
                                    <p>
                                        <%=translation.countreq%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item step5_radio_but custom_radio">
                                        <input type="radio" id="applicantChoice1"
                                               name="applicant" value="one">
                                        <label for="applicantChoice1">
                                            <span><%=translation.one%></span>
                                            <span class="r_price">0 грн</span></label>

                                        <input type="radio" id="applicantChoice2"
                                               name="applicant" value="more">
                                        <label for="applicantChoice2">
                                            <span><%=translation.ssome%></span>
                                            <span class="r_price">+ 30%</span>
                                        </label>

                                    </div>
                                    <div class="responsive-input-text" style="display: none"></div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next back_btn_second">
                                            <button onclick="back('step_calc-fifth')"><%=translation.back%></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <aside class="registration__side_bar">
                                <div class="container">
                                    <ul>
                                        <li style="list-style-type: disc"><%=translation.paymore%></li>
                                    </ul>

                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside></div>
                        <div class="registration__card step_calc-fi-cost ">
                            <div class="registration__card___contentt">
                                <h2 class="total_cost">

                                </h2>
                                <div class="registration__text second_text">
                                    <p>
                                        <%=translation.fincos%> <br>
                                        <%=translation.withti%> <span class="stp3_value"></span> <%=translation.mounth1%>
                                    </p>
                                </div>
                                <div class="registration__fields">
                                    <div class="registration__fields-item select_list_calc">
                                        <ul class="yourchoise_pre_step">
                                            <li class="duration_time"></li>
                                            <li class="color_log"></li>
                                            <li class="style_log"></li>
                                            <li class="count_res"></li>
                                            <li><%=translation.rua%></li>
                                        </ul>
                                    </div>
                                    <div class="responsive-input-text" style="display: none"></div>


                                    <div class="registration__fields-item thr_but_c but">
                                        <div class="type-submit type-submit_type_next back_thr_b_c back_btn_second">
                                            <button onclick="back('step_calc-fi-cost')"><%=translation.back%></button>
                                        </div>
                                        <div class="type-submit type-submit_type_next thr_but_c back_butn">
                                            <button type="button" onclick="tab1('step_calc-fi-cost', 'step_calc-first')"><%=translation.checkfreename%></button>
                                        </div>
                                        <div class="type-submit type-submit_type_next next_butn">
                                            <button type="button" onclick="tab3('step_calc-fi-cost', 'step_calc-first')"><%=translation.sendreq%></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <aside class="registration__side_bar step_calc-fi-cost_st">
                                <div class="container">
                                    <div class="registration__side_bar-quote">
                                        <picture class="registration__side_bar-avatar">
                                            <source srcset="./assets/img/avatar.webp">
                                            <img src="./assets/img/avatar.png" alt="avatar">
                                        </picture>
                                        <div class="registration__side_bar-info_author">
                                            <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                            <div class="registration__side_bar-position"><%=translation.work%></div>
                                        </div>
                                    </div>
                                </div>
                            </aside></div>
                    </div>
                </div>
                <div id="tab_3" class="tab_content tab_3 send_registration_wrap">
                        <div class="registration__quiz">
                            <div  class="registration__card first_send_m active s1">
                                <div class="registration__card___contentt">
                                    <h2>
                                        <%=translation.tab_3%>
                                    </h2>
                                    <div class="registration__step-count">
                                        <%=translation.step%> 1 <%=translation.i%> 3
                                    </div>
                                    <div class="registration__text">
                                        <p>
                                            <%=translation.tab3text%> <br>
                                            <%=translation.tab3tex2%>
                                        </p>
                                    </div>
                                    <div class="registration__fields">
                                        <div class="registration__fields-item thr_bl_input_m">
                                                <div class="type-input">
                                                    <input type="text" name="name_brand2" id="id_brand2" class="" placeholder="<%=translation.name_your_brand%> ">
                                                    <!--<div class="type-input__text">
                                                        пример:  Старбакс
                                                    </div>-->
                                                </div>
                                                <div class="type-input">
                                                    <input type="text" class="registration__true_brand" placeholder="<%=translation.uname%>" id="s_name2" name="successfully_name2">
                                                    <input type="hidden" class="registration__true_brand">
                                                    <!-- <div class="type-input__text">
                                                         <p>
                                                             Введите ваше имя, чтобы мы знали <br>
                                                             как к вам обращаться
                                                         </p>
                                                     </div>-->
                                                </div>
                                                <div class="type-input">
                                                    <input type="tel" pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}" value="+380" minlength="13" maxlength="13"  placeholder="<%=translation.unumberphone%>" id="tel_s2" name="successfully_tel2">
                                                    <!--<div class="type-input__text">
                                                        <p>+380999999999
                                                            Введите ваш номер телефона в формате +380 50 123 45 67 чтобы, <br>
                                                            наш менеджер смог с вами связаться и продолжить регистрацию
                                                        </p>
                                                    </div>-->
                                                </div>

<!--                                                <div class="type-input" id="parent_select_box2">
                                                    <div class="input_select_list2">
                                                        <select class="form-control" id="tokenfield2" name="type_brand2">

                                                        </select>
                                                        <input class="filter_select2" id="mobile_brandd2" placeholder="Сфера деятельности" type="text">
                                                    </div>
                                                    <div id="list_item2" class="item_list2">

                                                        <ul id="ul_select_list2">
                                                            <%classModel.forEach(Cmodel =>{ %>
                                                            <%Cmodel.NameClass.forEach(nClass=>{%>
                                                            <li data-cod="<%=Cmodel.NumberClass%>" class="list_item_li2"><%=nClass%></li>
                                                            <%})%>
                                                            <%})%>
                                                           </ul>
                                                    </div>
                                                    <div class="type-input__text">
                                                        пример: Kофейня и производство кофе
                                                    </div>
                                                </div>-->
                                        </div>
                                        <div class="responsive-input-text" style="display: none">
                                            <div class="type-input__text">
                                                <%=translation.exem%>:  <%=translation.staba%>
                                            </div>
                                            <div class="type-input__text">
                                                <%=translation.exmp_2%>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next">
                                            <button id="first_check3" class="send_m_request first_check3_cls" >
                                                <span class="text_btn_send "><%=translation.sendreq%></span>
                                                <span class="cric "></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title"><%=translation.mkty%></h4>
                                        <div class="registration__side_bar-text_content">
                                            <p><%=translation.mkty_a%> <br> <%=translation.mkty_a1%> - <br> <%=translation.mkty_a2%>,
                                                <br> <%=translation.mkty_a3%> <br> <%=translation.mkty_a4%>
                                            </p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author"><%=translation.nameV%></div>
                                                <div class="registration__side_bar-position"><%=translation.work%></div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                           <!-- <div class="registration__card second_send_m  ">
                                <div class="registration__card___contentt">
                                    <h2>
                                        Проверь свободное ли имя <br> твоей  ТМ для регистрации
                                    </h2>
                                    <div class="registration__step-count">
                                        шаг 2 из 3
                                    </div>
                                    <div class="registration__text">
                                        <p>Введите ваши контактные даные чтоб могли с вами связатся </p>
                                    </div>
                                    <div class="registration__fields">
                                        <div class="registration__fields-item">
                                            <div class="type-input">
                                                <input type="text" class="registration__true_brand" placeholder="Ваше имя" id="s_name2" name="successfully_name2">
                                                <input type="hidden" class="registration__true_brand">
                                                &lt;!&ndash; <div class="type-input__text">
                                                     <p>
                                                         Введите ваше имя, чтобы мы знали <br>
                                                         как к вам обращаться
                                                     </p>
                                                 </div>&ndash;&gt;
                                            </div>
                                            <div class="type-input">
                                                <input type="tel" placeholder="Номер телефона" id="tel_s2" name="successfully_tel2">
                                                &lt;!&ndash;<div class="type-input__text">
                                                    <p>
                                                        Введите ваш номер телефона в формате +380 50 123 45 67 чтобы, <br>
                                                        наш менеджер смог с вами связаться и продолжить регистрацию
                                                    </p>
                                                </div>&ndash;&gt;
                                            </div>
                                        </div>
                                        <div class="responsive-input-text" style="display: none">
                                            <div class="type-input__text">
                                                пример:  Старбакс
                                            </div>
                                            <div class="type-input__text">
                                                Kофейня и производство кофе
                                            </div>
                                        </div>


                                    </div>
                                    <div class="registration__fields-item">
                                        <div class="type-submit type-submit_type_next">
                                            <button id="first_check3" class="send_m_request" >
                                                <span class="text_btn_send ">ПОДАТЬ ЗАЯВКУ</span>
                                                <span class="cric "></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title">Что такое клас МКТУ?</h4>
                                        <div class="registration__side_bar-text_content">
                                            <p>Международная классификация <br> товаров и услуг (МКТУ) - <br> классификация товаров и услуг,
                                                <br> используемая для регистрации <br> товарных знаков.
                                            </p>                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author">Виталий</div>
                                                <div class="registration__side_bar-position">юрист консультант</div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>-->
                            <div class="registration__card send_m_thanks thanks ">
                                <div class="registration__card___contentt">
                                    <div class="thanks__left">
                                        <div>
                                            <img src="./assets/img/thanks.svg" alt="">
                                        </div>
                                        <div class="thanks__title">
                                            <p>
                                                Спасибо ваша заявка успешно принята
                                            </p>
                                        </div>
                                        <p>
                                            Наш менеджер сейчас с вами свяжется
                                        </p>
                                        <!--<div class="thanks__bottom">
                                            <p>
                                                Спасибо за доверие!
                                            </p>
                                            <p>
                                                Пишите мне с предложениями или  <br>
                                                вопросами, буду рад помочь.
                                            </p>

                                            <p>
                                                Виталий, основатель сервиса
                                            </p>
                                            <div class="thanks__social social-wrap">
                                                <a href="#">
                                                    <svg height="32.758"  viewBox="0 0 32.758 32.758" width="32.758" xmlns="http://www.w3.org/2000/svg"><path d="M23.718,0H9.04A9.05,9.05,0,0,0,0,9.04V23.718a9.05,9.05,0,0,0,9.04,9.04H23.718a9.05,9.05,0,0,0,9.04-9.04V9.04A9.05,9.05,0,0,0,23.718,0Zm6.134,23.718a6.141,6.141,0,0,1-6.134,6.134H9.04a6.14,6.14,0,0,1-6.133-6.134V9.04A6.14,6.14,0,0,1,9.04,2.906H23.718A6.141,6.141,0,0,1,29.851,9.04V23.718Z"></path><path d="M49.409,40.97a8.441,8.441,0,1,0,8.441,8.441A8.45,8.45,0,0,0,49.409,40.97Zm0,13.975a5.534,5.534,0,1,1,5.534-5.534A5.541,5.541,0,0,1,49.409,54.945Z"  transform="translate(-33.03 -33.032)"></path><path  d="M121.052,28.251a2.13,2.13,0,1,0,1.507.624A2.14,2.14,0,0,0,121.052,28.251Z" transform="translate(-95.879 -22.777)"></path></svg>
                                                </a>
                                                <a href="#">
                                                    <svg height="32.758" viewBox="0 0 17.711 32.758" width="32.711" xmlns="http://www.w3.org/2000/svg"><path  d="M39.121.007,34.873,0C30.1,0,27.016,3.164,27.016,8.062v3.717H22.745a.668.668,0,0,0-.668.668v5.386a.668.668,0,0,0,.668.668h4.271V32.09a.668.668,0,0,0,.668.668h5.573a.668.668,0,0,0,.668-.668V18.5h4.994a.668.668,0,0,0,.668-.668l0-5.386a.668.668,0,0,0-.668-.668h-5V8.628c0-1.514.361-2.283,2.334-2.283H39.12a.668.668,0,0,0,.668-.668v-5A.668.668,0,0,0,39.121.007Z"  transform="translate(-22.077)"></path></svg>
                                                </a>
                                                <a href="#">
                                                    <svg height="27.924" viewBox="0 0 32.072 27.924" width="32.072" xmlns="http://www.w3.org/2000/svg"><path class="ng-tns-c1-0" d="M.567,32.79l7.39,2.758,2.86,9.2a.87.87,0,0,0,1.382.416l4.119-3.358a1.229,1.229,0,0,1,1.5-.042l7.43,5.394a.871.871,0,0,0,1.365-.527L32.053,20.45a.871.871,0,0,0-1.166-.99L.558,31.16A.872.872,0,0,0,.567,32.79Zm9.789,1.29,14.443-8.9a.252.252,0,0,1,.3.4l-11.92,11.08a2.471,2.471,0,0,0-.766,1.478l-.406,3.009a.373.373,0,0,1-.729.053L9.721,35.716A1.454,1.454,0,0,1,10.356,34.08Z" transform="translate(0 -19.401)"></path></svg>                                            </a>
                                            </div>
                                        </div>-->
                                    </div>
                                    <!--<div class="thanks__right">
                                        <div class="thanks__man">
                                            <img src="./assets/img/man.png" alt="">
                                        </div>
                                    </div>-->
                                </div>
                                <aside class="registration__side_bar">
                                    <div class="container">
                                        <h4 class="registration__side_bar-title">Что такое клас МКТУ?</h4>
                                        <div class="registration__side_bar-text_content">
                                            <p>Международная классификация товаров и услуг (МКТУ) - классификация товаров и услуг,  используемая для регистрации  товарных знаков.</p>
                                        </div>
                                        <div class="registration__side_bar-quote">
                                            <picture class="registration__side_bar-avatar">
                                                <source srcset="./assets/img/avatar.webp">
                                                <img src="./assets/img/avatar.png" alt="avatar">
                                            </picture>
                                            <div class="registration__side_bar-info_author">
                                                <div class="registration__side_bar-info_name_author">Виталий</div>
                                                <div class="registration__side_bar-position">юрист консультант</div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="enticement">
            <div class="enticement__brand">
                <div class="enticement__brand-name">
                    <%=translation.costAp%>
                </div>
                <div class="enticement__brand-money">
                    $ 263 400 000 000
                </div>
            </div>
            <div class="enticement__quote">
                <p>
                   <span class="qu_text">
                       «<%=translation.someexpen%>»
                   </span> <br>
                    <span class="qu_auth">
                        <%=translation.andr%>
                    </span>
            </div>
        </div>
    </div>


        <div class="question" >
            <div class="container">
                <h2 class="reveal">
                    <%=translation.howreg%> <br>
                    <%=translation.brandonl%>
                </h2>
                <div class="question__wrap ">
                    <div class="question__item reveal">
                        <div class="question__title">
                            <%=translation.sendreq22%>
                        </div>
                        <div class="question__answer">
                            <p>
                                <%=translation.ans%>
                            </p>
                        </div>
                    </div>
                    <div class="question__item reveal">
                        <div class="question__title">
                            <%=translation.logo0%> <br>
                            <%=translation.logo%>
                        </div>
                        <div class="question__answer">
                            <p>
                                <%=translation.answer2%>
                            </p>
                        </div>
                    </div>
                    <div class="question__item reveal">
                        <div class="question__title">
                            <%=translation.question2%>
                        </div>
                        <div class="question__answer">
                            <p>
                                <%=translation.answer3%>
                            </p>
                        </div>
                    </div>
                    <div class="question__item reveal">
                        <div class="question__title">
                            <%=translation.question3%>
                        </div>
                        <div class="question__answer">
                            <p>
                                <%=translation.answer4%>
                            </p>
                        </div>
                    </div>
                    <div class="question__item reveal">
                        <div class="question__title">
                            <%=translation.question4%>
                        </div>
                        <div class="question__answer">
                            <p>
                                <%=translation.answer5%>
                            </p>
                            <p>
                                <%=translation.sendmail%>
                            </p>
                            <p>
                                <%=translation.checkyoumail%>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="master reveal">
            <div class="container container_width_huge">
                <div class="master__wrap">
                    <div class="master__left">
                        <img src="./assets/img/man.png" alt="">
                    </div>
                    <div class="master__right">
                        <h2>
                            <%=aboutModel.Title%>
                        </h2>
                        <div class="master__text">
                            <p>
                             <%=aboutModel.Text%>
                            </p>
                        </div>
                        <div class="master__social social-wrap">
                            <a href=" <%=aboutModel.PersonalInstagram%>" target="_blank">
                                <svg height="32.758"  viewBox="0 0 32.758 32.758" width="32.758" xmlns="http://www.w3.org/2000/svg"><path d="M23.718,0H9.04A9.05,9.05,0,0,0,0,9.04V23.718a9.05,9.05,0,0,0,9.04,9.04H23.718a9.05,9.05,0,0,0,9.04-9.04V9.04A9.05,9.05,0,0,0,23.718,0Zm6.134,23.718a6.141,6.141,0,0,1-6.134,6.134H9.04a6.14,6.14,0,0,1-6.133-6.134V9.04A6.14,6.14,0,0,1,9.04,2.906H23.718A6.141,6.141,0,0,1,29.851,9.04V23.718Z"></path><path d="M49.409,40.97a8.441,8.441,0,1,0,8.441,8.441A8.45,8.45,0,0,0,49.409,40.97Zm0,13.975a5.534,5.534,0,1,1,5.534-5.534A5.541,5.541,0,0,1,49.409,54.945Z"  transform="translate(-33.03 -33.032)"></path><path  d="M121.052,28.251a2.13,2.13,0,1,0,1.507.624A2.14,2.14,0,0,0,121.052,28.251Z" transform="translate(-95.879 -22.777)"></path></svg>
                            </a>
                            <a href=" <%=aboutModel.PersonalFacebook%>" target="_blank">
                                <svg height="32.758" viewBox="0 0 17.711 32.758" width="32.711" xmlns="http://www.w3.org/2000/svg"><path  d="M39.121.007,34.873,0C30.1,0,27.016,3.164,27.016,8.062v3.717H22.745a.668.668,0,0,0-.668.668v5.386a.668.668,0,0,0,.668.668h4.271V32.09a.668.668,0,0,0,.668.668h5.573a.668.668,0,0,0,.668-.668V18.5h4.994a.668.668,0,0,0,.668-.668l0-5.386a.668.668,0,0,0-.668-.668h-5V8.628c0-1.514.361-2.283,2.334-2.283H39.12a.668.668,0,0,0,.668-.668v-5A.668.668,0,0,0,39.121.007Z"  transform="translate(-22.077)"></path></svg>
                            </a>
                            <a href=" <%=aboutModel.PersonalTelegram%>" target="_blank">
                                <svg height="27.924" viewBox="0 0 32.072 27.924" width="32.072" xmlns="http://www.w3.org/2000/svg"><path class="ng-tns-c1-0" d="M.567,32.79l7.39,2.758,2.86,9.2a.87.87,0,0,0,1.382.416l4.119-3.358a1.229,1.229,0,0,1,1.5-.042l7.43,5.394a.871.871,0,0,0,1.365-.527L32.053,20.45a.871.871,0,0,0-1.166-.99L.558,31.16A.872.872,0,0,0,.567,32.79Zm9.789,1.29,14.443-8.9a.252.252,0,0,1,.3.4l-11.92,11.08a2.471,2.471,0,0,0-.766,1.478l-.406,3.009a.373.373,0,0,1-.729.053L9.721,35.716A1.454,1.454,0,0,1,10.356,34.08Z" transform="translate(0 -19.401)"></path></svg>                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="container">
                <h2 class="reveal">
                    <%=translation.ourwork%>
                </h2>
                <div class="portfolio__wrap">
                    <div class="porfolio__left reveal">
                        <p>
                            <span class="portfolio__count">367+</span> <br>
                            <%=translation.succsMark%>
                        </p>
                    </div>
                    <div class="portfolio__right reveal">
                        <%brandModel.forEach(brand=>{%>
                        <a href="<%=brand.urlBrand%>" class="portfolio__item">
                            <img src="<%=brand.img%>" alt="<%=brand.NameBrand%>">
                        </a>
                        <%})%>
                        <!--<a href="#" class="portfolio__item">
                            <img src="./assets/img/2.png" alt="">
                        </a>
                        <a href="#" class="portfolio__item">
                            <img src="./assets/img/3.png" alt="">
                        </a>
                        <a href="#" class="portfolio__item">
                            <img src="./assets/img/4.png" alt="">
                        </a>
                        <a href="#" class="portfolio__item">
                            <img src="./assets/img/5.png" alt="">
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="news">
            <div class="container">
                <h2 class="reveal">
                    Интересные новости связаные <br>
                    с известными брендами
                </h2>
                <div class="news__wrap">
                    <%newsModel.forEach(news=>{%>
                    <div class="news__item reveal">
                        <div class="news__date formatDate" >
                           <%=news.newsDate%>
                        </div>
                        <div class="news__title">
                            <%=news.newsTitle%>
                        </div>
                        <div class="news__text">
                            <p>
                                <%=news.newsText%>
                            </p>
                        </div>
                    </div>
                    <%})%>
                    &lt;!&ndash;<div class="news__item reveal">
                        <div class="news__date">
                            2016
                        </div>
                        <div class="news__title">
                            Guess и Gucci
                        </div>
                        <div class="news__text">
                            <p>
                                В иске Gucci обвинила Guess в подделке и недобросовестной конкуренции, нарушении торговой марки, потребовав $221 млн. Компенсации за нанесенный ущерб.
                            </p>
                            <p>
                                Gucci подала два иска: один в Нью-Йорке, другой – в Милане. В Нью-Йорке дело закрыли в пользу бренда и присудили $4,7 млн. компенсации за ущерб. В Милане суд признал сторону Guess, отметив, что использование буквы «G» широко распространено в модной отрасли.
                            </p>
                        </div>
                    </div>&ndash;&gt;
                </div>
                <div class="alert__check-another reveal">
                    <a href="#">
                        Читать еще
                    </a>
                </div>
            </div>
        </div>-->
        <div class="faq" style="display: none !important;">
            <div class="container">
                <h2 class="reveal">
                    <%=translation.offenQuesti%>
                </h2>
                <div class="faq__wrap">
                    <ul>
                        <%questionsModel.forEach(question=>{%>
                        <li class="reveal">
                            <a href="#">
                                <%=question.Question%>
                            </a>
                            <div class="faq__hidden">
                                <p>
                                   <%=question.Answer%>
                                </p>
                            </div>
                        </li>
                        <%})%>
                        <!--<li class="reveal">
                            <a href="#">
                                Как проверить на коком этапе статус регистрации моей марки?
                            </a>
                            <div class="faq__hidden">
                                <p>
                                    От 7-8 до 18 месяцев, в зависимости от сумы уплаты сервисного взноса
                                </p>
                            </div>
                        </li>

                        <li class="active reveal">
                            <a href="#">
                                Сколько временнее идет регистрация?
                            </a>
                            <div class="faq__hidden">
                                <p>
                                    От 7-8 до 18 месяцев, в зависимости от сумы уплаты сервисного взноса
                                </p>
                            </div>
                        </li>
                        <li class="reveal">
                            <a href="#">
                                Могут ли отказать в регистрации торговой марки если я уже оплатил?
                            </a>
                            <div class="faq__hidden">
                                <p>
                                    От 7-8 до 18 месяцев, в зависимости от сумы уплаты сервисного взноса
                                </p>
                            </div>
                        </li>
                        <li class="reveal">
                            <a href="#">
                                Как проверить статус регистрации?
                            </a>
                            <div class="faq__hidden">
                                <p>
                                    От 7-8 до 18 месяцев, в зависимости от сумы уплаты сервисного взноса
                                </p>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container container_width_huge">
            <div class="footer__wrap">
                <div class="footer__contacts reveal">
                    <div class="footer__contacts-item">
                        <div class="footer__contacts-title">
                            <%=translation.phone%>
                        </div>
                        <div class="footer__contacts-value">
                            <a href="tel:0441234567">
                                <%=contactModel.footerPhone%>
                            </a>
                        </div>
                    </div>
                    <div class="footer__contacts-item">
                        <div class="footer__contacts-title">
                            <%=translation.mail%>
                        </div>
                        <div class="footer__contacts-value">
                            <a href="mailto:hi@tvoybarnd.com">
                                <%=contactModel.Email%>
                            </a>
                        </div>
                    </div>
                    <div class="footer__contacts-item">
                        <div class="footer__contacts-title">
                            <%=translation.adress%>
                        </div>
                        <div class="footer__contacts-value">
                            <p>
                                <%=contactModel.Address%>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom reveal">
                    <p>
                        © 2019, <%=translation.yourbrand%>. <%=translation.secur%>
                    </p>
                    <a href="#">
                        Разработан в Nuts.
                    </a>
                </div>
            </div>
        </div>
    </footer>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="./assets/js/jquery-ui.min.js"></script>
<script src="./assets/js/tagify.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="./assets/js/main.js"></script>
<script src="./javascripts/my.js"></script>
<script src="./javascripts/calculator.js"></script>
<script src="./javascripts/selectedList.js"></script>
<!--<script src="./javascripts/sl2.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script>
  // $(".form-control").select2({
  //   insertTag: function (data, tag) {
  //    // Insert the tag at the end of the results
  //    console.log(tag, data);
  //    //data.push(tag);
  //  }
  // });
</script>

</body>
</html>
