/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: Axiforma;
  src: url('../fonts/KastelovAxiformaRegular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Axiforma;
  src: url('../fonts/KastelovAxiformaHeavy.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Axiforma;
  src: url('../fonts/KastelovAxiformaItalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Axiforma;
  src: url('../fonts/KastelovAxiformaMedium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Axiforma;
  src: url('../fonts/KastelovAxiformaSemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Axiforma;
  src: url('../fonts/AxiformaBlack.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Axiforma;
  src: url('../fonts/Axiforma-Thin.ttf');
  font-weight: 300;
  font-style: normal;
}



nav ul a,
nav .brand-logo {
  color: #444;
}
ul#p_allLi{
  padding-top: 21%;
}
div#class_name_text_parent{
  margin-top: 2%;
}
.d_n_class{
  display: none;
}
div.rebase_button_div.right{
  display: none;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }


}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.save-class {
  margin-top: 24px;

}
div#img_div{
  margin-top: -10px;
}
label#label_img{
  width: 53%;
  height: 115px;
  margin-left: 70px;
}
label.choose_img{
  border: 3px #49505b dashed;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
img#imgBrand{
  display: none;
}
img.show{
  display: block;
  width: 100%;
  height: 100%;
}
div.select_lang div.active_lang{
  color: #fff;
  background-color: #2bbbad;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%);

}
div.ru, div.ua {
  position: relative;
}
div.ru:before
{
  position: absolute;
  top: 0;
  content: 'Русский';
  margin-top: -35px;
}
div.ua:before
{
  position: absolute;
  top: 0;
  content: 'Українська';
  margin-top: -35px;
}
div.ua.input-field{
  margin-top: 5%;
}
div#class_name_text.ru, div#class_name_text_ua.ua{
  margin-top: 2%;
}


