/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


html {
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%;
}

a {
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

div.registration__fields-item:last-child.but.thr_but_c {
    width: calc(100% - 550px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 2fr);
    grid-column-gap: 24px;
    grid-row-gap: 18px;

}
div.registration__fields-item:last-child.but.thr_but_c .back_thr_b_c{
    grid-area: 2 / 1 / 3 / 2;
}

div.registration__fields-item:last-child.but.thr_but_c div.type-submit.type-submit_type_next.back_butn {
    grid-area: 1 / 2 / 2 / 3;
}
div.registration__fields-item:last-child.but.thr_but_c .next_butn.type-submit{
    grid-area: 2 / 2 / 3 / 3;
}

img{
    border:none;
    max-width: 100%;
    height:auto;
}
a,button{
    outline: none;
    cursor:pointer;
}
li{
    list-style:none;
}
button{
    background:none;
    border:none;
}
b {
    display: inline;
    font-weight: 700;
}
a, button, input, textarea{
    -webkit-appearance: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
*:after,
*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {

    position: relative;
    margin:0;
    padding:0;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;border-collapse:collapse;
    box-sizing: border-box;
}



input, textarea{
    display:block;
}
a, span, button, i{
    display: inline-block;
}


/******* input,textarea *******/


textarea{
    resize:none;
    outline:none;
    border:none;
    overflow:auto;
    -webkit-appearance:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: none;
}
input{
    outline:none;
    border:none;
    -webkit-appearance:none;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    background: none
}
input[type='number']{
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
}
input[type="submit"]{
    cursor:pointer;
    -webkit-appearance:none;
}
input[type="search"]::-webkit-search-cancel-button{
    background:none;
    display:none;
}


* {
    outline: none;
    font-family: Montserrat;
}

.search-field input::-webkit-input-placeholder {color:#888888;}
.search-field input::-moz-placeholder          {color:#888888;}
.search-field input:-moz-placeholder           {color:#888888;}
.search-field input:-ms-input-placeholder      {color:#888888;}

.field-input.input-error input::-webkit-input-placeholder {color:#f2171e;}
.field-input.input-error input::-moz-placeholder          {color:#f2171e;}
.field-input.input-error input:-moz-placeholder           {color:#f2171e;}
.field-input.input-error input:-ms-input-placeholder      {color:#f2171e;}

input::-webkit-input-placeholder {color:#000;}
input::-moz-placeholder          {color:#000;}
input:-moz-placeholder           {color:#000;}
input:-ms-input-placeholder      {color:#000;}

.field-input.input-error textarea::-webkit-input-placeholder {color:#f2171e;}
.field-input.input-error textarea::-moz-placeholder          {color:#f2171e;}
.field-input.input-error textarea:-moz-placeholder           {color:#f2171e;}
.field-input.input-error textarea:-ms-input-placeholder      {color:#f2171e;}

textarea::-webkit-input-placeholder {color:#000;}
textarea::-moz-placeholder          {color:#000;}
textarea :-moz-placeholder           {color:#000;}
textarea:-ms-input-placeholder      {color:#000;}

input:focus::-webkit-input-placeholder {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
input:focus::-moz-placeholder          {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
input:focus:-moz-placeholder           {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
input:focus:-ms-input-placeholder      {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:  all 0.5s ease; transition:  all 0.5s ease;}

textarea:focus::-webkit-input-placeholder {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
textarea:focus::-moz-placeholder          {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
textarea:focus:-moz-placeholder           {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; transition:  all 0.5s ease;}
textarea:focus:-ms-input-placeholder      {color: transparent; -webkit-transition:all 0.5s ease; -o-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:  all 0.5s ease; transition:  all 0.5s ease;}

*:after {
    -webkit-transition: all 0.34s ease;
    -o-transition: all 0.34s ease;
    -moz-transition: all 0.34s ease;
    transition: all 0.34s ease;
}
*:before {
    -webkit-transition: all 0.34s ease;
    -o-transition: all 0.34s ease;
    -moz-transition: all 0.34s ease;
    transition: all 0.34s ease;
}



* {
    -webkit-transition: all 0.34s ease;
    -o-transition: all 0.34s ease;
    -moz-transition: all 0.34s ease;
    transition: all 0.34s ease;
    /*margin-top: 40px;*/
}

/*fonts*/

.enticement{
    margin-top: 177px;
    display: flex;
    justify-content: space-between;
}
.registration__side_bar{
    width: 384px;
    background-color: #f2f2f2;
    border-radius: 48px;
    position: absolute;
    right: 20px;
    height: calc(100% - 40px);
    padding-left: 49px;
    margin-top: 0;
}
.registration__side_bar div.container{
    position: static;
}
h4.registration__side_bar-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #000;
    margin-top: 64px;
}
.registration__side_bar-text_content{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    opacity: 0.4;
    margin-top: 16px;
}
button.send_m_request span.cric{
    position: absolute;
    left:calc(50% - 15px);
    top:10px;
    display: none;
    width:30px;
    height:30px;
    border-radius:50%;
    border: 2px solid transparent;
    border-top:2px solid #fff;
    z-index: 10;
    animation: cri 1.5s infinite linear;
}
button.send_m_request span.cric.active{
    display: inline-block;
}

button.send_m_request span.text_btn_send.dis_n{
  visibility: hidden;
    opacity: 0;
}

@keyframes cri{
    0%{
        transform: translate(-20%, 50%) rotate(0deg);
    }
    100%{
        transform: translate(-20%, 50%) rotate(360deg);
    }
}
.registration__side_bar-quote{
    position: absolute;
    bottom:60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
}
.registration__side_bar-info_author{
    margin-left: 25px;
}
.registration__side_bar-avatar{
    position: relative;
}
.registration__side_bar-avatar:before{
    content: '';
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    background-color: #23C66E;
    z-index: 1;
}
.registration__side_bar-info_name_author{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 39px;
    color: #000;
}
.registration__side_bar-position{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;

    color: #000000;

    opacity: 0.4;
}

input:focus::-webkit-input-placeholder {
    opacity: 0 !important;
}


input:focus:-moz-placeholder {
    opacity: 0 !important;
}


input:focus::-moz-placeholder {
    opacity: 0 !important;
}


input:focus:-ms-input-placeholder {
    opacity: 0 !important;
}


input:focus::-ms-input-placeholder {
    opacity: 0 !important;
}


input:focus::placeholder {
    opacity: 0 !important;
}

@font-face {
    font-family: Caveat;
    src: url('../fonts/Caveat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url('../fonts/HelveticaRegular.ttf');
    font-weight: 400;
    font-style: normal;
}


/**/
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Black.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Thin.ttf');
    font-weight: 300;
    font-style: normal;
}


/*body*/

body {
    font-style: normal;
    color: #000;
    margin: 0;
    padding: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: Montserrat;
    background: #F2F2F2;
}

a,
button{
    color: #000;
}

a:hover,
button:hover{

}

p, li{
    line-height: 30px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}


main {
    display: block;
}


.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_width_huge {
    max-width: 1530px;
}


.alert.alert_bg_yellow {
    background: rgba(239, 185, 66, 0.10);
}

.alert.alert_bg_yellow .alert__brand {
    color: #EFB942;
}

.header__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 78px;
}
.mobile_header_registation {
   display: none;
}
.header__logo a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo-text {
    margin-left: 20px;
}

.header__logo-text p {
    font-size: 18px;
    color: #000;
    font-weight: 900;
    line-height: 24px;
}
.header__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.header__left > * + * {
    margin-left: 77px;
}

.header__left > * + *:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 50px;
    background: #D3D3D3;
    left: -40px;
    top: -6px;
}

.social-wrap > a {
    background: rgba(103, 147, 222, 0);
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.social-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.social-wrap > * + * {
    margin-left: 2px;
}

.social-wrap > a:hover svg * {
    fill: #d62a56;
}
.social-wrap > a:hover {
    background: rgba(214, 42, 86, .1);
    transform: scale(.9);
}


.header__social-text > P {
    font-size: 24px;
    color: #000;
    font-family: Caveat;
    line-height: 24px;
}


.header__social-text {
    position: absolute;
    width: 283px;
    bottom: -87px;
    left: -37px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(13deg);
}

.header__social-text:before {
    position: absolute;
    content: '';
    background: url(../img/arrow.png) center no-repeat;
    width: 71px;
    height: 71px;
    left: -51px;
    top: -51px;
}

.registration__wrap {

}
.registration {
    margin-top: 60px;
}

.text-center {
    text-align: center;
}

.alert.alert_gray {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 58px 32px 58px 51px;
    background: rgba(0, 0, 0, .04);
}
.alert.alert_gray p {
    color: #000;
    opacity: .4;
}



header.header {
    z-index: 5;
}


.registration__card {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    background: #fff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 40px;
    min-height: 640px;
    padding: 20px 0 0 64px;
    overflow: hidden;
    display: none !important;
    z-index: 4;
}

.registration__card.active {
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: unset;

}
.registration__card___contentt{
    width: calc(100% - 464px);
    position: static;
    margin-top: 0px;
    padding-top: 44px;
}
div.send_m_thanks.registration__card.thanks {
    padding-top: 20px;
}
.thanks__title{
    margin-top: 40px;
}
.registration__fields-item span.h_e:hover {
    border-color: #4C7AC9 !important;
    cursor: pointer;
}
.minus_btn, .plus_btn{
    width: 80px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 16px;
    text-align: center;

    color:rgba(0,0,0, 0.4);

}
.registration__side_bar ul{
    width: 292px;
    height: 48px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* or 24px */
    margin:64px 0;
    color: #000000;
    opacity: 0.4;
}
.registration__fields-item.custom_radio{
    flex-direction: column;
}
/*.step_calc-second div.registration__card___contentt{
    margin-top: -134px;
}*/
div.second_text{
    margin-top: 8px;
}

span.qu_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
}
span.qu_auth{
    margin-top: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
div.registration__fields input[type="radio"]:hover + label{
    cursor: pointer;
    border-color: #4C7AC9 !important;
}
div.registration__fields input[type="radio"]:checked + label{
    border-color: #4C7AC9 !important;
}
div div.back_btn_second button:before{
    content: '< ';
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
}
div div.back_btn_second button{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #6491DC;

    background: rgba(100, 145, 220, 0);

    border-radius: 16px;
}
.registration__fields-item.custom_radio label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    padding: 20px 24px;
    position: relative;
    width: 576px;
    height: 64px;
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 16px;
/* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}
.registration__fields-item.custom_radio label span.r_price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    text-align: right;

    color: #000000;

    opacity: 0.2;
float: right;
}
div.tabs_trigers{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1530px;
    padding: 0 15px;
    width: 100%;
    min-width: 320px;
    position: relative;
    top: 52px;
}
a.tab_triger__item{
    flex-grow: 1;
    text-decoration: none;
    background-color: #f7f7f7;
    padding: 32px 76px 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    border-radius: 24px 24px 0px 0px;
    color: #6491DC;
}
a.tab_triger__item-active{
    background-color: #fff;
    color: #B3B3B3;
}
div.close_btn_m_t{
    display: none;
}
div.tab_content{
    display: none;
    opacity: 0;
    visibility: hidden;
}
div.tab_content-active{
    display: block;
    opacity: 1;
    visibility: visible;
}
div.calc_custom_button div.type-input{
    width: auto;
    position: relative;
}
div.calc_custom_button div.type-input__text.custom_pos{
    width: 633px;
    position: absolute;
    top: 100%;
}
div.but_t_l.registration__fields-item div.type-submit_type_next.back_butn:first-child{
    width: calc(29% + 13px);
    margin-right: 13px;
}
div.but_t_l.registration__fields-item div.type-submit_type_next.next_butn:last-child{
    width: 25%;
}
div#tab_1 div.registration__card.thanks{
    padding-top: 20px;
}
div.type-input input.button_count{
    width: 151px;
    height: 64px;
   text-align: center;
    margin: 0 8px;
    border: 2px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 16px;
    padding: 0;
}
h2 {
    font-size: 32px;
    color: #000;
    font-weight: 900;
    line-height: 45.8px;
}
h2.reveal {
    font-size: 45px;
    line-height: 45.8px;
}

div.container_f_lang{
    margin-right: 75px;
}
.registration__step-count {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    line-height: 1.24;
    margin-top: 40px;
    font-weight: 500;
}
* + .registration__text {
    margin-top: 28px;
}




.registration__text p {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1.45;
}

* + .registration__text {
    margin-top: 30px;
}

.registration__fields {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.registration__fields-item:last-child {
    width: 270px;
    position: absolute;
    bottom: 64px;
}
div.step_calc-second .registration__fields-item:last-child {
    bottom: 44px;
}
.registration__fields-item:last-child.but {
    width: 100%;
}
.back_butn.type-submit{
    /*width: calc(29% + 13px);*/
    /*margin-right: 13px;*/
    border-radius: 16px;
}
div.back_butn.type-submit button{
    background: rgba(100, 145, 220, .05);
    color: rgba(100, 145, 220, 1);
}
/*.next_butn.type-submit{*/
/*    width: 25%;*/
/*}*/
.registration__fields{
 position: static;
}

.registration__fields-item {
    width: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}



.registration__fields-item > .type-input:first-child {
    width: 50%;
    margin-right: 48px;


}
.loading-text p {
    overflow: hidden;
}

.registration__card.registration__card_type_loading {
    display: flex !important;
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@keyframes slideTop {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(-100%);
    }
}


.registration__card.registration__card_type_loading.active .loading-text p  p{


}
.loading-text > p {
    font-size: 31px;
    color: #000;
    font-weight: 900;
    line-height: 1.25;
    animation:slideTop  6s linear;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;  transform: translateY(100%);

}

.loading-dots span.active {
    transform: scale(1.2);
}
.list_f_lang{
    display: flex;
}
ul.list_f_lang li.el_lang a, ul.list_f_lang span{
    color: #b3b3b3;
    margin: 0 3px;
}
ul.list_f_lang span{
    cursor: default;
    user-select: none;
}
ul.list_f_lang li.el_lang a:hover{
    color: #4C7AC9 !important;
}

ul.list_f_lang li.el_lang a.active,ul.list_f_lang li.el_lang a.active:hover{
    color: #000 !important;
    cursor: default;
}
.loading-text {
    max-height: 57px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.registration__fields-item > .type-input:first-child input {
    border-radius: 24px;
    border: 2px solid #EFEFEF;
    width: 100%;
    min-height: 82px;
}
.registration__fields-item > .type-input:last-child input {
    -webkit-border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    border-radius: 24px 24px 24px 24px;
    border: 2px solid #EFEFEF;
    width: 100%;
    min-height: 82px;
}
.registration__fields-item > .type-input {
    width: 59%;
    margin-top: 0;
}

tag.tagify__tag:nth-child(3n) {
    display: none !important;
}


.type-input input {
    font-size: 18px;
    color: #000000;
    padding: 26px 10px 28px 30px;
    line-height: 1.24;
}

.type-input input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.type-input input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.type-input input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.type-input input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.type-input input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.type-input input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.header__social-hidden {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 30px;
    padding: 45px 142px 45px 20px;
    width: 590px;
    z-index: 2;
}
a.contain {
    z-index: 3;
}
.header__social-hidden {
    position: absolute;
    top: -50px;
    right: -46px;
    background: #fff;
    border-radius: 30px;
    padding: 67px 142px 45px 20px;
    width: 590px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .34s ease;
    box-shadow: 0 23px 40px rgba(0, 0, 0, .16);
}

.social-wrap > a.contain svg path {
    fill: #000;
}

.social-wrap > a.contain {
    background: transparent;
}
.social-wrap > span.contain:hover .header__social-hidden  {
 visibility: visible;
    opacity: 1;
    pointer-events: initial;
    z-index: 2;
}
span.contain svg {
    z-index: 10;
}

input#tokenfield, input#tokenfield2  {
    z-index: 6;
}

input#tokenfield, input#tokenfield2 {
    z-index: 6;
    padding-left: 186px;
}
.tags-list {
    position: absolute;
    top: calc(92px);
    left: 0;
    right: 0;
}

.tags-list ul {
    border: 2px solid #4C7AC9;
    border-radius: 24px;
    background: #fff;
    z-index: 2;
}
.tags-list ul {
    border: 2px solid #4C7AC9;
    border-radius: 24px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 black;
    padding: 29px 28px;
    max-height: 218px;
    overflow: auto;
}
.tags-list ul li:hover {
    background: linear-gradient(90deg, rgba(104, 148, 223, .1), rgba(76, 122, 201, .1));
}

.tags-list ul li {
    cursor: pointer;
    font-size: 18px;
    color: #000;
    border-radius: 12px;
    width: 100%;
    padding: 11px 20px;
    background: transparent;
}
.tags-list ul li:hover {
    background: linear-gradient(90deg, rgba(104, 148, 223, .1), rgba(76, 122, 201, .1));
    color: #4C7AC9;
}



.header__social.social-wrap > span {
    background: rgba(103, 147, 222, 0);
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    cursor: pointer;
}

.type-submit button {
    background: -webkit-gradient(linear, left top, right top, from(#6894DF), to(#4C7AC9));
    background: -webkit-linear-gradient(left, #6894DF, #4C7AC9);
    background: -moz-linear-gradient(left, #6894DF, #4C7AC9);
    background: -o-linear-gradient(left, #6894DF, #4C7AC9);
    background: linear-gradient(90deg, #6894DF, #4C7AC9);
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
}

.type-submit {
    width: 100%;
}

.header__social-hidden ul li {
    display: flex;
    align-items: center;
}

.header__social-hidden ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.header__social-hidden ul li span {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
}

.header__social-hidden ul li a {
    font-size: 32px;
    color: #000;
    font-weight: 900;
    margin-left: 19px;
}
.header__social-hidden ul li + li {
    margin-top: 16px;
}

.header__social-hidden ul li a:hover {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
    color: #d62a56!important;
}

.added::placeholder {
    color: transparent !important;
    opacity: 0;

}

.close-tag {
    position: absolute;
    cursor: pointer;
    top: 19px;
    right: 17px;
}
.tags-field > span {
    border-radius: 6px;
    height: 100%;
    padding: 11px 57px 15px 20px;
    font-size: 18px;
    color: #4C7AC9;
    background: linear-gradient(90deg, rgba(104, 148, 223, .1), rgba(76, 122, 201, .1));
    /* color: rgba(76, 122, 201, .1); */
    display: inline-flex;
    justify-content: center;
    z-index: 7;
    align-items: center;
}
.close-tag {
    position: absolute;
    cursor: pointer;
    top: 17px;
    right: 17px;
    display: flex;
}




.tags-field {
    position: absolute;
    padding: 16px 20px 14px 28px;
    height: 82px;
    /* left: 28px; */
    /* bottom: 14px; */
    top: 0;
    width: 100%;
}


.type-submit button {
    background: -webkit-gradient(linear, left top, right top, from(#6894DF), to(#4C7AC9));
    background: -webkit-linear-gradient(left, #6894DF, #4C7AC9);
    background: -moz-linear-gradient(left, #6894DF, #4C7AC9);
    background: -o-linear-gradient(left, #6894DF, #4C7AC9);
    background: linear-gradient(90deg, #6894DF, #4C7AC9);
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 28px 20px;
    width: 100%;
    font-weight: 800;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.registration__quiz {
    background: #fff;
    min-height: 640px;


    border-radius: 40px;
    /* overflow: hidden; */
}

.type-submit button:hover {
    background: -webkit-gradient(linear,left top, right top,from(#4C7AC9) , to(#6894DF));
    background: -webkit-linear-gradient(left,#4C7AC9 , #6894DF);
    background: -moz-linear-gradient(left,#4C7AC9 , #6894DF);
    background: -o-linear-gradient(left,#4C7AC9 , #6894DF);
    background: linear-gradient(90deg,#4C7AC9 , #6894DF);
}

.type-submit button:active {
    background: -webkit-gradient(linear, left top, right top, from(#4c6ab9), to(#5e75bb));
    background: -webkit-linear-gradient(left, #4c6ab9, #5e75bb);
    background: -moz-linear-gradient(left, #4c6ab9, #5e75bb);
    background: -o-linear-gradient(left, #4c6ab9, #5e75bb);
    background: linear-gradient(90deg, #4c6ab9, #5e75bb);
}
* + .registration__fields {
    margin-top: 24px;
}
.news__text {
    margin-top: 10px;
}

.type-input__text {
    padding-left: 30px;
    margin-top: 7px;
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    line-height: 1.35;
}

* + .enticement {
    margin-top: 66px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.enticement__brand-name {
    font-size: 18px;
    color: #000;
    line-height: 24px;
}

.enticement__brand-money {
    font-size: 42px;
    color: #000;
    font-weight: 900;
}

.enticement__quote p {
    text-align: right;
    font-size: 20px;
    color: #000;
    font-family: Montserrat;
    line-height: 1.35;
}

.loading-text p {
    font-size: 31px;
    color: #000;
    font-weight: 900;
    line-height: 1.25;
}

.registration__card.registration__card_type_loading.active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.loading-dots {
    position: absolute;
    bottom: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.loading-dots > * {
    margin: 0 5px;
    width: 13px;
    height: 13px;
    background: #5683D1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.header__logo-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}


.alert {
    background: rgba(58, 211, 135, .1);
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    padding: 32px 32px 44px 51px;
}

.alert p {
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
}

.alert p .alert__brand {
    color: #3AD387;
}

* + .alert__check-another {
    margin-top: 63px;
}
.alert__check-another {
    text-align: center;
}

.alert__check-another > * {
    font-size: 14px;
    color: #5A87D4;
    padding-bottom: 4px;
    font-weight: 800;
}
.faq__hidden p {
    font-size: 18px;
    line-height: 1.75;
    font-family: Helvetica;
}

.alert__check-another > *:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: 4px dotted #5A87D4;
}
.type-input__text p {
    padding-left: 30px;
    margin-top: 7px;
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    line-height: 1.35;
}
.registration__fields-item:hover .type-input__text p {
    color: #4C7AC9;
}

.alert__check-another a:hover {
    color: #d62a56;
    transform: scale(.97);
}

.alert__check-another a:hover:after{
border-color:#d62a56;
}
/*.thanks__left {
    max-width: 603px;
}*/

.thanks__right {
    position: absolute;
    bottom: -13px;
    right: 162px;
}.thanks__title p {
     font-family: Montserrat;
     font-style: normal;
     font-weight: 900;
     font-size: 31px;
     line-height: 42px;
 }

.registration__card.thanks.active {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.thanks__left {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: 80px;
}

.thanks__left > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin-top: 24px;
}

.thanks__bottom {
    text-align: right;
    margin-top: 72px;
}


.thanks__bottom > p {
    font-size: 22px;
    line-height: 1.25;
    font-family: Caveat;
}

.thanks__bottom > p + p {
    margin-top: 17px;
}

* + .thanks__social.social-wrap {
    margin-top: 55px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}



.registration__fields-item .type-input:hover input {
    border-color: #4C7AC9 !important;
}

.registration__fields-item .type-input:hover .type-input__text {
    color: #4C7AC9;
}
tag.tagify__tag {
    background: -webkit-gradient(linear, left top, right top, from(rgba(104, 148, 223, 0.11)), to(rgba(76, 122, 201, 0.11)));
    background: -webkit-linear-gradient(left, rgba(104, 148, 223, 0.11), rgba(76, 122, 201, 0.11));
    background: -moz-linear-gradient(left, rgba(104, 148, 223, 0.11), rgba(76, 122, 201, 0.11));
    background: -o-linear-gradient(left, rgba(104, 148, 223, 0.11), rgba(76, 122, 201, 0.11));
    background: linear-gradient(90deg, rgba(104, 148, 223, 0.11), rgba(76, 122, 201, 0.11));
}

tags.tagify {
    font-size: 18px;
    color: #000000;
    padding: 18px 10px 17px 30px;
    line-height: 1.24;
    -webkit-border-radius: 0px 40px 40px 0px;
    -moz-border-radius: 0px 40px 40px 0px;
    border-radius: 0px 40px 40px 0px;
    border: 2px solid #EFEFEF;
    border-left: none;
    width: 100%;
}
span.tagify__tag-text {
    font-size: 18px;
    color: #4C7AC9;
}

.tagify__tag>div::before {
    display: none;
}

.registration__quiz:before {
    content: '';
    position: absolute;
    left: 47px;
    right: 47px;
    background: rgba(255, 255, 255, 0.4);
    bottom: -30px;
    z-index: 2;
    top: 0;
    border-radius: 40px;
}

.registration__quiz:after {
    content: '';
    position: absolute;
    left: 100px;
    right: 100px;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    bottom: -55px;
    z-index: 1;
    border-radius: 40px;
}

.question {
    margin-top: 277px;
}

.question__wrap {
    margin-top: 149px;
}

.question__title {
    width: 370px;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.45;
}

.question__answer {
    width: -webkit-calc(100% - 370px - 100px);
    width: -moz-calc(100% - 370px - 100px);
    width: calc(100% - 370px - 100px);
}

.question__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.question__answer p {
    font-size: 16px;
    text-align: justify;
    font-family: Helvetica;
}

.question__item + .question__item {
    margin-top: 68px;
}

div.thr_bl_input_m.registration__fields-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 24px;
}
div.thr_bl_input_m.registration__fields-item div.type-input:first-child{
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
}
div.thr_bl_input_m.registration__fields-item div.type-input:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
}
div.thr_bl_input_m.registration__fields-item div.type-input:nth-child(2) input{
    border-radius: 24px;
    border: 2px solid #EFEFEF;
    width: 100%;
    min-height: 82px;
}
div.thr_bl_input_m.registration__fields-item div.type-input:last-child{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
}
.master {
    margin-top: 185px;
}
h5.exemple_aside{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 64px;
    color: #000000;

    opacity: 0.4;
}
div.ass_o{
    margin-top: 24px;
}
div.ass_t{
    margin-top: 36px;
}
span.style_logo_exempl{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #000000;
    opacity: 0.4;
}
.asside_logo_pos_f{
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.back_btn_second button:hover{
    background: rgba(100, 145, 220, 0);
    border: 1px solid #6491DC;
}
div.step_calc-fi-cost div.registration__card___contentt ul.yourchoise_pre_step{
    margin-top: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #000000;
    opacity: 0.4;
}
div.step_calc-fi-cost div.registration__card___contentt div.second_text{
    margin-top: 14px;
}
h3.aside_style_logo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.master__wrap {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 90px 140px 90px;
}

.master__wrap {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.master__left {
    position: absolute;
    left: 39px;
    bottom: -7px;
}

.master__right {
    /* max-width: 635px; */
    width: 100%;
    width: calc(100% - 370px - 117px);
}
.master__text {
    margin-top: 69px;
}
.master__text p {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.55;
}

.master__text p + p {
    margin-top: 22px;
}

.master__social.social-wrap {
    margin-top: 53px;
}

.registration__card.disabled {
    visibility: visible;
    opacity: 1;
    position: initial;
    display: block !important;
    transform: translateY(-1000%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 2s ease;
}

.portfolio {
    margin-top: 202px;
}

.portfolio__wrap {
    margin-top: 77px;
}

.portfolio__wrap {
    margin-top: 77px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.porfolio__left {
    width: 322px;
}

.portfolio__right {
    width: -webkit-calc(100% - 322px - 78px);
    width: -moz-calc(100% - 322px - 78px);
    width: calc(100% - 322px - 78px);
    margin: 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

a.portfolio__item {
    width: -webkit-calc(100% / 3 - 40px);
    width: -moz-calc(100% / 3 - 40px);
    width: calc(100% / 3 - 40px);
    margin: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
}

span.portfolio__count {
    font-size: 140px;
    font-weight: 300;
    line-height: .9;
}


.porfolio__left p {
    font-size: 16px;
    font-weight: 700;
}
.news {
    margin-top: 217px;
}
.news__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
    margin-top: 100px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.news__item {
    width: -webkit-calc(100% / 2 - 30px);
    width: -moz-calc(100% / 2 - 30px);
    width: calc(100% / 2 - 30px);
    margin: 15px;
    padding: 60px 53px;
    background: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}


.news__date {
    font-size: 16px;
    color: rgba(0, 0, 0, .1);
    font-weight: 700;
}

.news__title {
    margin-top: 15px;
    font-size: 36px;
    font-weight: 900;
}

.news__text p {
    font-size: 16px;
    font-family: Helvetica;
    line-height: 1.63;
}

.news__text p + p {
    margin-top: 25px;
}


.faq {
    margin-top: 100px;
}

.faq__wrap {
    margin-top: 110px;
}


.faq__wrap ul li a {
    font-size: 18px;
    font-weight: 600;
    padding-left: 47px;
}

.faq__hidden {
    padding-left: 47px;
    margin-top: 22px;
}


.faq__wrap ul li a:hover {
    color:#5A87D4 ;
}

.faq__wrap ul li.active a {
    color:#5A87D4 ;
}

.faq__wrap ul li a:before {
    content: '+';
    left: 0;
    font-size: 29px;
    top: 3px;
    color: #000;
    font-weight: 400;
    left: 5px;
    position: absolute;
    height: 24px;
    width: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.faq__wrap ul li.active a:before {
    content: '-';
    color:#5A87D4 ;
}

.faq__hidden {
    padding-left: 47px;
    margin-top: 22px;
    display: none;
}


.faq__wrap ul li.active .faq__hidden {
    display: block;
}

.faq__wrap ul li + li {
    margin-top: 50px;
}

.faq__wrap ul li a:hover:before {
    color: #5A87D4;
}

footer.footer {
    margin-top: 150px;
}

.footer__wrap {
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    border-radius: 40px 40px 0 0;
    background: #fff;
    padding: 160px 145px 20px 141px;
}

.footer__contacts-title {
    font-size: 18px;
    font-weight: 600;
}

.footer__contacts-value > * {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.25;
}

.footer__contacts-item + .footer__contacts-item {
    margin-top: 53px;
}

.footer__bottom {
    margin-top: 140px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__bottom > * {
    font-size: 18px;
    font-family: Helvetica;
    color: rgba(0, 0, 0, .2);
}

.type-submit.type-submit_type_next > *:hover {
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transform: scale(.94);
    -moz-transform: scale(.94);
    -ms-transform: scale(.94);
    -o-transform: scale(.94);
    transform: scale(.94);
}


.footer__contacts-value a:hover {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
}



.footer__contacts-value a {

    transform-origin: center;
}
.footer__bottom a {
    -webkit-transform-origin: right;
    -moz-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
}

.footer__bottom a:hover {
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);
    color: #4883d7!important;
}
.header__text p {
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    line-height: 1.5;
}

.registration__card.registration__card_type_limit{
    justify-content: flex-start;
}

.registration__card.registration__card_type_limit .registration__step-count {
    margin-top: 49px;
}

.registration__card.registration__card_type_limit .registration__fields {
    margin-top: 59px;
}
.registration__card.thanks {
    padding-top: 139px;
    align-items: flex-start;
}



@media (max-width: 1530px) {

    .registration__fields-item > .type-input:first-child {
        width: 50%;
    }

    .registration__fields-item > .type-input {
        width: 50%;
    }
    .type-input input {
        font-size: 16px;
    }


    .enticement__brand-money {
        font-size: 28px;
        line-height: 1.35;
    }

    .enticement__brand-name {
        font-size: 16px;
        line-height: 1.35;
    }

    .enticement__quote p {
        font-size: 20px;
    }

    .alert p {
        font-size: 22px;
        line-height: 1.46;
    }

    .registration__text p {
        font-size: 16px;
    }

    .thanks__right {
        right: -37px;
    }


    .master__left {
        bottom: -8px;
    }

    .footer__contacts-value > * {
        font-size: 48px;
    }




}


@media (max-width: 1200px) {
    h2 {
        font-size: 42px;
    }

    .registration__fields {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .registration__fields-item {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    .registration__fields-item:last-child {
        width: 100%;
    }

    .type-submit.type-submit_type_next > * {
        max-width: 270px;
    }


    .type-submit {
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .registration__card {
        padding: 80px 49px;
        padding-bottom: 20px;

    }
    .registration__card ,     .registration__quiz {
        min-height: 641px;
    }



    .thanks__title p {
        font-size: 32px;
    }

    .question__title {
        font-size: 28px;
        line-height: 1.45;
    }

    .master__wrap {
        padding: 60px 33px 60px 50px;
    }

    .master__left img {
        max-height: 594px;
    }

    .footer__contacts-value > * {
        font-size: 38px;
    }

    .footer__wrap {
        padding: 65px 65px 20px 65px;
    }



}


@media (max-width: 1024px) {
    .thanks__right {
        right: -50px;
    }

    .thanks__man img {
        max-height: 530px;
    }

    .master__left img {
        max-height: 490px;
    }

    .master__left {
        bottom: -8px;
    }
    .master__right {
        /* max-width: 635px; */
        width: 100%;
        width: calc(100% - 370px - 57px);
    }
}



@media (max-width: 939px) {

    .header__social.social-wrap > span {
        position: static;
    }
    .header__social-text {
        left: 124px;
        right: 0;
    }
    .header__social-hidden ul li span {
        color: rgba(0, 0, 0, .4);
        font-size: 14px;
        display: block;
        width: 100%;
        text-align: right;
    }.header__social.social-wrap {
         position: static;
     }

    .header__right {
        position: static;
    }

    .social-wrap > span.contain .header__social-hidden {
        top: 106px;
        right: 0;
        left: -7px;
        width: 100%;
        padding: 10px 89px 30px 10px;
    }

    .header__social-hidden ul li a {
        font-size: 18px;
        margin-left: 10px;
    }
    .header__social-hidden ul li {

        flex-wrap: wrap;

    }

    .header__wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .header__left {
        width: 100%;
    }

    .header__right {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 42px;
    }

    h2 {
        font-size: 32px;
    }
    h2.reveal {
        font-size: 24px;
        line-height: 25px;
    }

    .type-input input {
        font-size: 14px;
    }

    .enticement {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .enticement__quote {
        margin-top: 20px;
        text-align: left;
        width: 100%;
    }

    .alert p {
        font-size: 16px;
        line-height: 1.46;
    }
    .thanks__right {
        display: none;
    }

    .thanks__left {
        max-width: 100%;
        width: 100%;
    }

    .question__item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .question__title {
        width: 100%;
    }

    .question__answer {
        width: 100%;
    }

    .question__title br {
        display: none;
    }


    .question {
        margin-top: 138px;
    }
    .question__wrap {
        margin-top: 68px;
    }
    .master {
        margin-top: 105px;
    }

    .master {
        margin-top: 350px;
    }

    .master__left img {
        max-height: 289px;
    }

    .master__right {
        max-width: 100%;
        width: calc(100%);
        padding-top: 12px;
    }


    .master__left {
        top: initial;
        bottom: -webkit-calc(100% - 8px);
        bottom: -moz-calc(100% - 8px);
        bottom: calc(100% - 8px);
        left: initial;
        right: 60px;
    }

    .master__text {
        margin-top: 36px;
    }

    .portfolio__wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .porfolio__left {
        width: 100%;
    }

    .portfolio__right {
        width: 100%;
        margin: 0;
        margin-top: 60px;
    }
    .news__item {
        display: none;
    }

    .news__item:first-child {
        display: block;
    }
    .news__item {
        width: -webkit-calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        width: calc(100% - 30px);
    }

    .news {
        margin-top: 120px;
    }

    .footer__contacts-value > * {
        font-size: 31px;
    }

    .footer__bottom > * {
        font-size: 16px;
    }
    .porfolio__left p {
        text-align: center;
    }

}

@media (max-width: 769px) {
    span.contain:hover svg {
        opacity: 0;
        pointer-events: none;
    }



    .thanks__left > p {
        font-size: 14px;

        margin: 15px 0;
    }


    .registration__quiz:before {
        bottom: -20px;
    }

    .registration__quiz:after {
        bottom: -40px;
    }

    .registration__fields-item {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }


    .registration__fields-item > .type-input:first-child {
        width: 100%;
    }

    .registration__fields-item > .type-input {
        width: 100%;
    }



    .alert br {
        display: none;
    }

    .registration__text br {
        display: none;
    }
    .footer__contacts-value > * {
        font-size: 23px;
    }
    .footer__bottom > * {
        font-size: 14px;
    }


}



@media (max-width: 639px) {
    input#mobile_brandd.mobile_select_inp, input#mobile_brandd2.mobile_select_inp{
        visibility: hidden;
        border: none;
    }
    div#list_item.item_list.active.mobile_select_inp{
        display: none;
    }
    div#list_item2.item_list2.active.mobile_select_inp{
        display: none;
    }
    input#id_brand.mobile_select_inp, input#id_brand2.mobile_select_inp{
        border-radius: 40px 40px 40px 40px;
    }


    input#tokenfield, input#tokenfield2 {

        padding-left: 159px;
    }

    .header__social-text {
        left: 20px;
        right: 0;
    }
    .thanks__left > p {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        margin: 26px 0 50px;
    }

    .thanks__bottom > p {
        font-size: 20px;
        line-height: 1.25;
        font-family: Caveat;
        text-align: left;
    }
    .thanks__social.social-wrap {
        justify-content: flex-start;
    }


    .loading-text p span:after {
        content: 'Открываем картотеку';
        font-size: 16px;
    }

    .tags-field > span {
        height: 100%;
        padding: 9px 42px 10px 20px;
        font-size: 16px;
        color: #4C7AC9;
        background: linear-gradient(90deg, rgba(104, 148, 223, .1), rgba(76, 122, 201, .1));
        /* color: rgba(76, 122, 201, .1); */
        display: inline-flex;
        justify-content: center;
        z-index: 7;
        align-items: center;
    }

    .registration__quiz:after {
        bottom: -20px;
        left: 50px;
        right: 50px;
    }

    .registration__quiz:before {
        bottom: -10px;
        left: 20px;
        right: 20px;
    }

    .question {
        margin-top: 80px;
    }

    .portfolio {
        margin-top: 100px;
    }

    footer.footer {
        margin-top: 64px;
    }


    .header__logo-text p {
        font-size: 12px;
        line-height: 1.35;
    }

    .header__text p {
        font-size: 12px;
    }

    .header__logo-img img {
        max-width: 32px;
    }

    .header__social-text > P {
        font-size: 20px;
    }


    .registration__card {
        padding: 30px 30px 50px 30px;
    }

    .registration__fields-item > .type-input:first-child input {
        min-height: 62px;
    }

    .registration__fields-item > .type-input:last-child input {
        min-height: 62px;
    }



    .type-input__text {
        margin-top: 7px;
        font-size: 10px;
        padding: 0;
    }
    .responsive-input-text {
        width: 100%;
    }

    .type-submit.type-submit_type_next > * {
        max-width: 100%;
        padding: 17px 11px;
    }

    .enticement__brand-name {
        font-size: 12px;
    }

    h2 br {
        display: none;
    }

    .question__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .question__answer p {
        font-size: 14px;
        line-height: 1.49;
    }
    h2 {
        font-size: 30px;
    }
    h2.reveal {
        font-size: 24px;
        line-height: 25px;
    }
    .master__text p {
        font-size: 14px;
    }


    .master__wrap {
        padding: 30px 30px 50px 30px;
    }
    .porfolio__left p {
        text-align: left;
    }

    .news__wrap {
        margin-top: 65px;
    }

    .news__item {
        padding: 48px 36px;
    }

    .news__title {
        font-size: 20px;
    }

    .faq__wrap ul li a {
        font-size: 14px;
        line-height: 1.45;
    }


    .faq__hidden p {
        font-size: 14px;
        line-height: 1.75;
    }

    .news__item {
        margin: 0;
        width: 100%;
    }

    .master__wrap {
        margin: 0 -15px;
    }

    .footer__wrap {
        padding: 70px 30px 20px 30px;
        margin: 0 -15px;
    }

    .footer__contacts-title {
        font-size: 14px;
    }

    .footer__bottom {
        margin-top: 100px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .footer__bottom a {
        margin-top: 8px;
    }

    .footer__bottom p {
        width: 100%;
    }

    br {
        display: none !important;
    }

    .registration__text p {
        font-size: 14px;
    }
    .alert p {
        font-size: 14px;
    }

    .alert {
        padding: 20px;
    }

    .loading-text p {
        font-size: 24px;
    }
    .loading-text p {
        font-size: 16px;
    }

    .header__wrap {
        padding-top: 25px;
    }
    .registration__card {
        padding: 41px 18px 28px 18px;
    }
    .question {
        margin-top: 100px;
    }

    .question__wrap {
        margin-top: 30px;
    }

    .question__item + .question__item {
        margin-top: 35px;
    }

    a.portfolio__item {
        width: -webkit-calc(100% / 3 - 40px);
        width: -moz-calc(100% / 3 - 40px);
        width: calc(100% / 3 - 20px);
        margin: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
    }
    .faq__wrap {
        margin-top: 70px;
    }

    .faq__wrap ul li a:before {
        font-size: 20px;
        top: 0px;
    }

    .news__text {
        margin-top: 0;
    }
    .master__text {
        margin-top: 42px;
    }


    .tags-field {
        padding: 10px 20px 24px 28px;
    }

    .container {

        padding: 0 30px;
    }


    .header__wrap {
        padding-top: 17px;
    }

    .header__logo-text {
        margin-left: 12px;
    }

    .header__left > * + * {
        margin-left: 34px;
        display: none;
    }
    div.container_f_lang {
        margin-right: 0;
        position: absolute;
        top: 20%;
        right: 0;

    }
    .header__wrap {
        padding-top: 25px;
    }

    .header__left > * + *:before {
        left: -15px;
    }

    .header__right {

        margin-top: 34px;
    }


    .header__social-text {
        left: 39px;
        right: 0;
        transform: rotate(0deg);
        position: absolute;
        width: 283px;
        bottom: -56px;
    }
.mobile_header_registation{
    display: block;
    text-align: center;
    font-size:24px;
    font-family: Montserrat;
    font-weight: 800;
}

    /*.registration {*/
    /*    margin-top: 61px;*/
    /*}*/

    .registration__wrap {
        margin: 0 -30px;
    }




    .registration__text p {
        font-size: 12px;
        line-height: 1.5;
    }





    .tags-field {
        padding: 10px 20px 24px 10px;
    }



    .registration__card.registration__card_type_loading + .registration__card {
        padding-top: 27px;
        justify-content: space-between;
    }

    .alert p {
        font-size: 12px;
    }


    .alert {
        padding: 19px 10px;
    }

    .registration__card.registration__card_type_loading + .registration__card .registration__step-count {
        margin-top: 10px;
        font-size: 14px;
    }


    .registration__card.registration__card_type_loading + .registration__card .registration__fields-item:last-child {
        margin-top: 53px;
    }

    .registration__card.registration__card_type_limit {
        padding-top: 36px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .registration__card.registration__card_type_limit .alert.alert_gray {
        padding: 18px 106px 20px 24px;
        /* text-align: left !important; */
        justify-content: flex-start;
    }

    .registration__card.registration__card_type_limit .alert.alert_gray p {
        text-align: left !important;
        font-size: 14px;
    }

    .registration__card.registration__card_type_limit .registration__step-count {
        margin-top: 20px;
        padding-left: 22px;
    }





    .registration__card.thanks {
        padding-top: 46px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .thanks__bottom {
        text-align: right;
        margin-top: 4px;
    }

    * + .thanks__social.social-wrap {
        margin-top: 24px;
    }
    .registration__card.registration__card_type_limit .registration__fields-item:last-child {
        margin-top: 11px;
    }
    .question__wrap {
        margin-top: 21px;
    }

    .question__title {
        font-size: 20px;
        margin-bottom: 33px;
    }
    .question__item + .question__item {
        margin-top: 45px;
    }

    .question__answer p {
        font-size: 14px;
        line-height: 1.79;}


    .question__item + .question__item {
        margin-top: 52px;
    }
    .master {
        margin-top: 363px;
    }

    .portfolio h2 {
        margin: 0 -15px;
        text-align: center;
    }

    .portfolio__wrap {
        margin-top: 95px;
    }

    .news__item {
        padding: 38px 36px;
    }

    * + .alert__check-another {
        margin-top: 15px;
    }

    .alert__check-another > * {
        font-size: 12px;
    }
    .faq {
        margin-top: 67px;
    }

    .faq__wrap {
        margin-top: 38px;
    }

    .faq__wrap ul li + li {
        margin-top: 14px;
    }


    /*TAB MOBILE*/



    .tabs_trigers{
        flex-direction: column;
        padding:0 14px;
    }
    .tabs_trigers .tab_triger__item{
        background: #F7F7F7;
        padding: 28px 39px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        display: flex;
       justify-content: center;
        text-align: center;
        color: #6491DC;
        border: 2px solid transparent;
        border-radius: 24px;
    }
    .registration__card {
        padding: 32px 24px 0px 24px;
    }
    .tabs_trigers .tab_triger__item:nth-of-type(1){
        position: relative;
        top: 28px;
        padding-bottom: 56px;
        border-bottom: none;
        border-radius: 24px 24px 0 0;
        z-index: 0;
    }
    .tabs_trigers .tab_triger__item:nth-of-type(2){
        border: 2px solid #F2F2F2;
        padding-bottom: 28px ;
        z-index:1;
    }
    .tabs_trigers .tab_triger__item:nth-of-type(3){
        position: relative;
        z-index: 0;
        bottom: 28px;
        padding-top: 56px;
        border-top:none;
        border-radius:0 0 24px 24px;
    }
    .tabs_trigers .tab_triger__item.tab_triger__item-active{
        border: 2px solid #4C7AC9;
    }
    div.registration__quiz{
        position: fixed;
        z-index: 999;
        bottom:0px;
        left: 0;
        width: 100%;
        border-radius: 24px 24px 0 0;
        min-height: auto;
        height: auto;
        max-height: calc(100% - 72px);
        overflow: auto;
    }
    div.registration__card.thanks .registration__side_bar {
       display: none;
    }
    .registration__fields-item.calc_custom_button{
        flex-wrap: nowrap;
    }

    div.thanks__left {
        /* max-width: 100%; */
         width: 100%;
        position: relative;
        bottom: 0;
    }
    div.thanks.registration__card {
       min-height: 100%;
    }
    .registration__side_bar div.container{
        min-width: 100%;
    }
    div.close_btn_m_t.active{
        position: fixed;
        width: 64px;
        height: 64px;
        right: 8px;
        top: 8px;
        border: 2px solid transparent;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    div.close_btn_m_t:active{
        border-color: #4C7AC9;
    }
    .registration__fields-item > .type-input:first-child {
        width: 100%;
        margin-right: 0;
    }


    .registration__step-count {
        font-size: 12px !important;
        line-height: 19px;
        margin-top: 24px;
    }
    * + .registration__text {
        margin-top: 14px;
        line-height: 21px;
    }

    span.qu_text{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 15px;
        line-height: 24px;
    }
    .enticement {
        margin-top: 62px;
        display: flex;
        justify-content: space-between;
    }
    .enticement__quote {
        margin-top: 68px;
    }
    .enticement__brand{
        display: flex;
        flex-direction: column-reverse;
    }
    .enticement__brand-name{
        margin-top: 12px;
    }
    span.qu_auth{
        margin-top: 8px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 15px;
    }
    * + .registration__fields {
        margin-top: 32px;
    }
    .registration__fields-item > .type-input input {
        min-height: 64px;
        padding: 22px 24px;

    }
    div.thr_bl_input_m.registration__fields-item{
        display: block;

    }
    div.thr_bl_input_m.registration__fields-item div.type-input:nth-child(2) {
        margin-top: 16px;
    }
    div.thr_bl_input_m.registration__fields-item div.type-input:nth-child(2) input{

        min-height: 62px;
    }
    div.registration__fields-item > div.type-input input, div.registration__fields-item > div.type-input input.filter_select{
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }
    .registration__fields-item > .type-input:last-child{
        margin-top: 16px;
    }
    div.registration__card___contentt h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        /* or 25px */
        display: flex;
        align-items: center;

    }
    .back_butn.type-submit {
        width: 100%;
        margin-right: 0px;
        border-radius: 24px;
    }
    .next_butn.type-submit {
        width: 100%;
        margin-top: 16px;
    }
    .registration__card.registration__card_type_loading + .registration__card .registration__fields-item:last-child {
         margin-top: 32px;
    }
    div.registration__card{
        height: 100%;
    }
    .registration__card___contentt{
        width: 100%;
        padding-top: 0;
    }
    .registration__side_bar {
        width: 100%;
        background-color: #f2f2f2;
        border-radius: 24px;
         position: relative;
        right: 0px;
        height: auto;
        min-height: 72px;
        padding-left: 24px;
        padding-bottom: 16px;
        margin-top: 32px;
        margin-bottom: 16px;
        transition: all 0.4s ease 0s;
    }
    .registration__card.active{
        justify-content: space-between;
    }
    h4.registration__side_bar-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #000;
        margin-top: 24px;
        text-align: center;
    }
    h4.registration__side_bar-title:before {
        content: '\2228';
        margin-right: 16px;
    }
    div.registration__side_bar-quote{
        display: none;
        transition: all 0.4s ease 0s;
    }
    div.type-input__text{
        margin-left: 16px;
        margin-top: 8px;
        font-size: 12px;
    }
    div.registration__fields-item:last-child {
         position: relative;
         bottom: 0px;
        margin-top: 32px;
    }
    div.registration__fields-item.but.thr_but_c:last-child {
        display: block;
        width: 100%;
    }
    .type-submit {
        text-align: center;
        width: 100%;
        margin-top: 0;
    }
    .registration__side_bar-text_content{
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease 0s;
    }
    .registration__side_bar-text_content.active {
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        visibility: visible;
        opacity: 0.4;
        margin-top: 16px;
        display: block;
        transition: all 0.4s ease 0s;
    }
    .enticement__quote p {
        text-align: left;
    }
    div.calc_custom_button div.type-input__text.custom_pos {
        display: none;
    }
    .registration__side_bar ul {
        width: auto;
        height: auto;
        font-family: Helvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin: 24px 0;
        color: #000000;
        opacity: 0.4;
    }
    h5.exemple_aside {
        margin-top: 24px;;
    }
    .registration__fields-item.custom_radio label {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 0;
    }
    .registration__fields-item.custom_radio label[for='contactChoice1'] {
        width: 100%;
        margin-top: 8px;

    }
    .step_calc-second div.registration__card___contentt {
        margin-top: 0px;
    }
    .second_text  + div.registration__fields{
        margin-top: 24px;
    }
    .step_calc-fourth .registration__side_bar ul {
        margin-bottom: 89px;

    }
    .body_ov_h{
        overflow: hidden !important;
    }
    .ov_aut{
        overflow: auto !important;
    }
    /*.registration__quiz:before {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background: #F2F2F2;*/
    /*    opacity: 0.7;*/
    /*    top: -50%;*/
    /*    left: 0px;*/
    /*    right: 0px;*/
    /*}*/
    body.body_ov_h:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: -50%;
        background: #F3F3F3;
        opacity: 0.9;
        left: 0px;
        right: 0px;
        z-index: 998;
    }
    div.type-submit.type-submit_type_next.back_btn_second button{
        margin-top: 25px;
    }
    .registration__quiz:after, .registration__quiz:before{
        width: 0;
        height: 0;
        content: none;
    }
    button.send_m_request span.cric{
        top: 0px;


    }
    aside.registration__side_bar.step_calc-fi-cost_st {
        display: none;
    }
    /*TAB MOBILE END #4C7AC9*/
}



@media (max-width: 374px) {
    .header__social-text {
        left: 0px;
        right: 0;
    }

    .enticement__brand-money {
        font-size: 25px;
        line-height: 1.35;
    }    .header__social-text:before {
             display: none;
         }

    h2.reveal {
        font-size: 24px;
        line-height: 26px;
    }

    .enticement__quote p {
        font-size: 18px;
    }

    .footer__contacts-value > * {
        font-size: 18px;
    }
    .footer__bottom > * {
        font-size: 11px;
    }

    input#mobile_brandd.mobile_select_inp,  input#mobile_brandd2.mobile_select_inp{
        visibility: hidden;
        border: none;
    }
    div#list_item.item_list.active.mobile_select_inp{
        display: none;
    }
    div#list_item2.item_list2.active.mobile_select_inp{
        display: none;
    }
    input#id_brand.mobile_select_inp,     input#id_brand2.mobile_select_inp{

        border-radius: 40px 40px 40px 40px;
    }
    div.registration__fields-item:last-child.but.thr_but_c{
        width: 100%;
        display: flex;
    }
    div.step_calc-fi-cost .registration__side_bar{
        display: none;
    }

}



@media (max-width: 320px) {
    input#mobile_brandd.mobile_select_inp,  input#mobile_brandd2.mobile_select_inp{
        visibility: hidden;
        border: none;
    }
    div#list_item.item_list.active.mobile_select_inp,     div#list_item2.item_list2.active.mobile_select_inp {

        display: none;
    }
    input#id_brand.mobile_select_inp,     input#id_brand2.mobile_select_inp
{
        border-radius: 40px 40px 40px 40px;
    }


}

.registration__quiz.next-area:before {
    bottom: 0;
}


.registration__quiz.next-area:after {
    position: absolute;
    left: 47px;
    right: 47px;
    bottom: -30px;
    background: rgba(255, 255, 255, 0.4);
}


.registration__quiz.last-area:after {
  bottom: 0;
}
.alert__check-another a:after {
    transition: none;
}
.alert__check-another a:hover:after {
    opacity: 0;
}


.faq__wrap, .faq__wrap * {
    transition: none !important;
}

.tags-list {
    position: absolute;
    top: calc(92px);
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.tags-list.active {
     opacity: 1;
     visibility: visible;
     pointer-events: initial;
 }

.reveal {
    transition: all .7s ease;
}



div.input_select_list, div.input_select_list2{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

select.form-control{
    display:inline-block;
}

input[type="text"].select_input{
    display:inline-block;
}
div#parent_select_box, div#parent_select_box2{
    position: relative;
}
div.item_list, div.item_list2{
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    margin-top: 5px;
}
span.selectitem, span.selectitem button, span.selectitem2, span.selectitem2 button{
    background-color: #f0f2fe;
    color: #6a7a9b;
}
span.selectitem button, span.selectitem2 button{

    margin-left: 10px;
}

span.selectitem, span.selectitem2{
margin-left: 10px;
    padding: 10px 15px 10px 13px;
    border: 2px solid #edf2f5;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    cursor: default;
}
ul#ul_select_list, ul#ul_select_list2{
    border: 2px solid #5e7fac;
    border-radius: 24px;
    max-height: 230px;
    overflow: hidden;
    overflow-y:scroll;
}
ul#ul_select_list li, ul#ul_select_list2 li{
    padding: 10px 15px;
    width: 90%;
    margin-left: 18px;
    border-radius: 10px;
    list-style-type:none;
    cursor: default;
    color: #080808;
    border: 2px solid #fff;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
ul#ul_select_list, ul#ul_select_list2  {
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;

}

/* Chrome, Edge, and Safari */
ul#ul_select_list::-webkit-scrollbar, ul#ul_select_list2::-webkit-scrollbar {

    width: 0;
    background-clip: padding-box;
    background: transparent;
}

ul#ul_select_list::-webkit-scrollbar-track, ul#ul_select_list2::-webkit-scrollbar-track {

    background: transparent;
}

ul#ul_select_list li, ul#ul_select_list2 li{
   margin-top: 10px;
    margin-bottom: 10px;
}

ul#ul_select_list li:hover, ul#ul_select_list2 li:hover{
    list-style-type:none;
    background-color: #f0f2fe;
    color: #6a7a9b;
    border-color: #edf2f5;

}
ul#ul_select_list li.n_result, ul#ul_select_list2 li.n_result{
    list-style-type:none;
    background-color: transparent;
    cursor: default;
    margin: 10px ;
}
ul#ul_select_list li.n_result:hover, ul#ul_select_list   li.n_result:hover{
    list-style-type:none;
    background-color: transparent;
    cursor: default;
    border-color: transparent;
}
div.item_list,div.item_list2, .display, #tokenfield, #tokenfield2{
    display:none
}
div.item_list.active{
    display:block
}
div.item_list2.active{
    display:block
}

